* {
	font-family: 'Montserrat', sans-serif;
}

*[class*="col-md-"] img {
	max-width: 100%;
}

.center-block {
	float:none !important;
}
.page-id-32 .intro {
    background: url(/wp-content/uploads/2016/04/contact_banner.jpg) no-repeat top center scroll;
    height:900px;
    height:680px;
    background-size: cover;
}
@media(max-width:992px) {
	.page-id-32 .intro {
		height:auto;
		padding-bottom:20px;
	}	
}

/* STORIES PAGE */
.page-id-2582 .intro,
.page-id-2590 .intro,
.page-id-2588 .intro, 
.page-id-2585 .intro
    {
	background-image: none;
	background-color: #fff;
}
.page-id-2590 .intro,
.page-id-2588 .intro, 
.page-id-2585 .intro{
	height: 25%;
	height:200px;
}
@media(max-width:992px) {
	.page-id-2590 .intro,
	.page-id-2588 .intro, 
	.page-id-2585 .intro{
		height: 25%;
		height:120px;
	}
}
.stories .stories__header {
	margin-bottom: 45px;
}

.stories .stories__header h2 {
	font-size: 13px;
	font-weight: bold;
	text-transform: none;
}

.stories .stories__header small {
	font-weight: normal;
	font-size: 95%;
}

.stories__header > div:first-child {
	padding-left: 0;
}



.stories .stories__row > h3 > span,
.stories .stories__header h2 > a {
	background-image: url('/wp-content/uploads/2016/04/stories_icons_03.png');
	background-position: left;
	background-repeat: no-repeat;
	min-height: 73px;
	vertical-align: middle;
	padding-left: 75px;
	display: inline-block;
	color: #000;
}

.stories .stories__header h2 > a {
	background-size: 50px;
	min-height: 50px;
	padding-left: 55px;
}

.stories .stories__row.stories__row--reinv > h3 > span,
.stories .stories__header .stories__header--reinv a {
	background-image: url('/wp-content/uploads/2016/04/stories_icons_07.png');
}

.stories .stories__row.stories__row--initi > h3 > span,
.stories .stories__header .stories__header--initi a {
	background-image: url('/wp-content/uploads/2016/04/stories_icons_11.png');
}

.stories .stories__row > div {
	margin-bottom: 50px;
}

.stories .stories__row h3 {
	margin-bottom: 20px;
	font-weight: bold;
}

.stories .stories__row > div img {
	box-shadow: 0px 0px 5px 0px #2B2B2B;
	-webkit-box-shadow: 0px 0px 5px 0px #2B2B2B;
	-moz-box-shadow: 0px 0px 5px 0px #2B2B2B;
}

.stories .close-video {
	position: absolute;
	top: -4%;
	right: -3%;
	width: 45px;
	height: 45px;
	background-color: #fff;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-webkit-border-radius: 50px;
	display: block;
	z-index: 2;
	line-height: 40px;
	font-size: 40px;
	border: 2px solid #C8AFAF;
	cursor: pointer;
	text-align: center;
	cursor: pointer;
}




/*------------------------------------------------------
	HEADER/FOOTER
*/
.threebox-pad {
    padding: 10px 0 0 0;

}
.footer-email {
    color: #A5A89F!important;
}
.hamburger{
	background:none;
	position:fixed;
	top:0;
	right:0;
	line-height:45px;
	padding:0;
	color:#fff;
	border:0;
	font-size:1.4em;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	z-index:1000;
}
.thegate-logo {
	background:none;
	/* position:fixed; */
	position:absolute;
	top:0px;
	left:58px;
	padding:0;
	border:0;
	outline:none;
	z-index:1;
}
.thegate-logo img{
	width:169px;
	/*
	-webkit-transition: left 0.3s ease, width 0.3s ease, height 0.3s ease;
	-moz-transition: left 0.3s ease, width 0.3s ease, height 0.3s ease;
	-ms-transition: left 0.3s ease, width 0.3s ease, height 0.3s ease;
	-o-transition: left 0.3s ease, width 0.3s ease, height 0.3s ease;
	transition: left 0.3s ease, width 0.3s ease, height 0.3s ease;
	*/
}
.cross{
	background:none;
	position:fixed;
	top:0px;
	right:0;
	padding:0;
	color:#fff;
	border:0;
	font-size:3em;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	z-index:1000;
}
.cross img {
    vertical-align: top!important;
    
}
.menu{
	display:none;
    top:0!important;
	z-index: 1000000;
	font-weight: bold;
	font-size: 0.8em;
	width: 135px;
	background: #131313;
	position: absolute;
	text-align: center;
	right: 57px;
	position:fixed;
	text-transform:uppercase;
}
.menu.open{
	display:block;
}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;
	  padding: 15px 0 15px 15px;
	  text-align: left;}
.menu li:hover{display: block; color:#f5ab00; }
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}

.glyphicon-home{
	color:white; 
	font-size:1.5em; 
	margin-top:5px; 
	margin:0 auto;
}
.section-pad {
	margin-top: 40px;
	margin-top: 40px;
}
.count-font {
	font-size:14px !important;
}
.fullwidth-img {
	height:400px;
}
.address-fontsize {
	font-size:14px;
	color:#FFF;
}
.color-chng {
	color:#a5a89f;
}
.call-fontsize {
	font-size:16px;
}
.call-clr {
	color:#f4ab00;
}
.shadow {
	box-shadow: 10px 10px 5px rgba(136, 136, 136, 0.78);
}
.cup-img {
	padding-top: 50px;
	text-align:center;
}
.cup-text {
	padding: 20px 0;
	text-align:center;
}
.cup-p {
	font-size:18px;
}
.pd-btm {
	padding: 0 0 200px;
}
.about-pad {
	padding: 60px 40px;
}
.about-text {
	text-align:center; 
	line-height:3em;
	font-size:18px;
}
.media-pd-img-right {
	padding-bottom: 80px;
	text-align:center;
}
.media-pd-btm {
	padding-bottom: 40px;
}
.p-media {
	font-size:18px;
}

.light {
	font-weight: 400;
}

.navbar-custom {
	margin-bottom: 0;
	text-transform: uppercase;

}

.navbar-custom .navbar-brand {
	font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
	outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
	font-size: 16px;
	color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}

.navbar-custom a {
	color: #fff;
}

.navbar-custom .nav li a {
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
	outline: 0;
	color: rgba(255,255,255,.8);
	background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
}

.navbar-custom .nav li.active {
	outline: 0;
}

.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
	color: #fff;
}

@media(min-width:768px) {
	.navbar-custom {
		border-bottom: 0;
		letter-spacing: 1px;
		background: 0 0;
		-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
		transition: background .5s ease-in-out,padding .5s ease-in-out;
	}

	.navbar-custom.top-nav-collapse {
		padding: 0;
	}
        .stories .close-video {
            position: absolute;
            top: -4%;
            right: -3%;
            width: 45px;
            height: 45px;
            background-color: #fff;
            border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -webkit-border-radius: 50px;
            display: block;
            z-index: 2;
            line-height: 40px;
            font-size: 20px;
            border: 2px solid #C8AFAF;
            cursor: pointer;
            text-align: center;
            cursor: pointer;
            margin-top: 5px;
        }
}

.titleContainer{overflow:hidden;}
.intro {
	display: table;
	width: 100%;
	height: auto;
	min-height:100px;
	padding: 0px 0 0px 0px;
	text-align: left;
	color: #fff;
	background: url(/wp-content/uploads/2016/04/home_banner.jpg) no-repeat top center scroll;
	background-color: #000;
}
@media(min-width:1280px) {
	.intro {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
	}
}
.intro-contact {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url(/wp-content/uploads/2016/04/contact_us.jpg) no-repeat top center scroll;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.introabout-us {
	display: table;
	width: 100%;
	height: 25%;
	padding: 0;
	text-align: center;
	color: #fff;
	background-color: #FFF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.page-id-10 .intro .intro-body {
	display: table-cell;
	padding-top: 0px;
}
.intro-contact .intro-body {
	display: table-cell;
	padding-top: 10px;
}
.introabout-us .intro-body {
	display: table-cell;
	padding-top: 10px;
}

.intro .intro-body .brand-heading {
	font-size: 24px;
	line-height:1.2em;
	color: #a5a89f;
	font-weight:normal;
	margin:47px 0 0 245px;
}
.intro-contact .intro-body .brand-heading {
	font-size: 40px;
	color: #a5a89f;
}
.introabout-us .intro-body .brand-heading {
	font-size: 40px;
	color: #a5a89f;
}

.intro .intro-body .intro-text {
	font-size: 18px;
}
.intro-contact .intro-body .intro-text {
	font-size: 18px;
}
.introabout-us .intro-body .intro-text {
	font-size: 18px;
}

@media(min-width:768px) {

	.intro {
		height: auto;
	}
	.page-id-10 .intro {
		height: 488px;
		padding: 0;
	}
	.intro-contact {
		height: 120%;
		padding: 0;
	}
	.introabout-us {
		height: 25%;
		padding: 0;
	}

	/*
	.intro .intro-body .brand-heading {
		font-size: 40px;
	}
	.intro-contact .intro-body .brand-heading {
		font-size: 40px;
	}
	.introabout-us .intro-body .brand-heading {
		font-size: 40px;
	}
	*/
	.intro .intro-body .intro-text {
		font-size: 26px;
	}
	.intro-contact .intro-body .intro-text {
		font-size: 26px;
	}
	.introabout-us .intro-body .intro-text {
		font-size: 26px;
	}
}

.btn-circle {
	width: 70px;
	height: 70px;
	margin-top: 15px;
	padding: 7px 16px;
	border: 2px solid #fff;
	border-radius: 100%!important;
	font-size: 40px;
	color: #fff;
	background: 0 0;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
	outline: 0;
	color: #fff;
	background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-moz-keyframes pulse {    
	0% {
		-moz-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-moz-transform: scale(1.2);
		transform: scale(1.2);
	}

	100% {
		-moz-transform: scale(1);
		transform: scale(1);
	}
}

.content-section {
	/*padding-top: 100px;*/
}

.download-section {
	width: 100%;
	padding: 50px 0;
	color: #fff;
	background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#map {
	width: 100%;
	height: 200px;
	margin-top: 100px;
}

@media(min-width:767px) {
	.download-section {
		padding: 100px 0;
	}

	#map {
		height: 400px;
		margin-top: 250px;
	}
}

.btn {
	border-radius: 0;
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.btn-default {
	border: 1px solid #42dca3;
	color: #42dca3;
	background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
	border: 1px solid #42dca3;
	outline: 0;
	color: #000;
	background-color: #42dca3;
}

ul.banner-social-buttons {
	margin-top: 0;
}

@media(max-width:1199px) {
	ul.banner-social-buttons {
		margin-top: 15px;
	}
}

@media(max-width:767px) {
	ul.banner-social-buttons li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons li:last-child {
		margin-bottom: 0;
	}
    .address-fontsize {
		font-size:14px;
		color:#FFF;
        text-align: center!important;
	}
	.btn-twitter1 {
	    text-align: center!important;
	}
}

footer {
	padding: 15px 0;
	background-color:#000;
	color:#a5a89f;
}
.fixedFooter{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	min-height:86px;
}

footer p {
	margin: 0;
}

@media(max-width:992px) {
	.thegate-logo img.logo-mob-width {
		width: 100px;
	}
	.thegate-logo {
		left: 0;
	}
	.intro .intro-body .brand-heading{
		margin:10px 0 0 120px;
		font-size:20px;
	}
	.introabout-us {
		display: table-cell;
		padding-top: 100px;
	}

}
.count-font {
	margin-bottom: 35px;
}
.no-lr-pad {
	padding-left: 0;
	padding-right: 0;
}
.stories__row > div {
                position: relative;
}
.stories__row > div img {
                width:100%;
}
.stories__row > div .desc {
                background-image: url('../images/pending.png');
                background-position: 20px 5px;
                background-repeat: no-repeat;
}
.stories__row > div.hasVideo .desc {
                background-image: url('../images/play2.png');
}
.stories__row > div:hover > a > img,
.stories__row > div:hover > img {
                display: none;
}
.stories__row > div:hover .hover {
                display: block !important;
}
.stories__row > div .desc {
                position: absolute;
                text-align: center;
                width: 100%;
                padding: 45px 20px 0;
                left:0;
                color: #fff;
                top: 0;
}
.number-padright {
    padding: 0 30px 0 0!important;
}
.number-link {
    color:#000 !important;
}
.error-msg .text {
    height: auto !important;
}
#contact-page {
    padding-top: 290px;
}

 

#contact-page button {

                background: none;
                border:0;
                background-color: #334138;
                color: #fff;
                min-height: 40px;
                min-width: 40px;
                font-size: 24px;

}
.button2 {
    background-color:rgba(255, 255, 255, 0) !important;
}
#contact-page input,

#contact-page textarea {

                color: #000;

}
.textarea-override {
    height: 170px!important;
}
.textsend-color {
    color:#000 !important;
} 
.box-edit{
    background-color: rgba(255, 255, 255, 0) !important;
    font-size:24px!important;
    width:100%!important;
    padding-top:80px;
}
.padnone {
    padding:0 !important;
}




headergate.smaller {
	height: 75px;
}

headergate.smaller h1#logo {
	width: 150px;
	height: 75px;
	line-height: 55px;
	font-size: 55px;
	margin: 0;
}

headergate.smaller nav a {
	line-height: 75px;
}



headergate {
	width: 100%;
	height: 10em;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
  border-bottom:solid 0.5em #f4f4f4;
	background-color: #394e63;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
}

headergate h1#logo {
	display: inline-block;
	line-height:3em;
   margin: 0;
   padding:0 1em;
   background-color:#fd5559;
	float: left;
	font-family: "Open Sans", sans-serif;
	font-size: 60px;
	color: #fcfcfc;
  text-shadow: 0.1em 0.03em #C0392B;
	font-weight: 400;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

headergate nav {
	display: inline-block;
	float: right;
}

headergate nav a {
	line-height: 150px;
	margin-left: 20px;
	color: #fcfcfc;
	font-weight: 300;
	font-size: 1em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

headergate nav a:hover {
	color: #fd5559;
}

headergate.smaller {
	height: 75px;
}

headergate.smaller h1#logo {
	line-height: 75px;
	font-size: 30px;
}

headergate.smaller nav a {
	line-height: 75px;
}

@media all and (max-width: 760px) {
	headergate h1#logo {
		display: block;
		float: none;
		margin: 0 auto;
		height: 100px;     
		line-height: 80px;
		text-align: center;
	}

	headergate nav {
		display: block;
		float: none;
		height: 50px;
		text-align: center;
		margin: 0 auto;
	}

	headergate nav a {
		line-height: 50px;
		margin: 0 10px;
	}

	headergate.smaller {
		height: 75px;
	}

	headergate.smaller h1#logo {
		height: 40px;
		line-height: 40px;
		font-size: 30px;
     width:100%;
	}

	headergate.smaller nav {
		height: 35px;
	}

	headergate.smaller nav a {
		line-height: 35px;
	}
	test {
		position: fixed;
		left: 0;
		top: 0;
		width: 10px;
		height: 10px;
	}
}
@media all and (max-width: 992px) {
	.count-font {
		padding-left:140px;
	}
	.footer-col {clear:left;width:100%;text-align:center;}
}

div.story_boxes .col-md-4 a,
div.story_boxes .col-md-4 p{
	position:absolute;
	left:0px;
	top:0px;
}
div.story_boxes .col-md-4 div.clip{
	z-index:1;
}
div.story_boxes .col-md-4 div.clip > div{
	position:relative;
	width:100%;
	padding-top:69.4%;
	padding-top:67%;
	overflow:hidden;
}
div.story_boxes .col-md-4 div.clip > div > img{
	width:100%;
	position:absolute;
	left:0px;
	top:0px;
}
div.story_boxes .col-md-4 a{
	z-index:10;
	width:100%;
	height:100%;
	display:block;
	opacity:0.5;
}
div.story_boxes .col-md-4 p{
	z-index:5;
	color:#8d8d8e;
	text-align:center;
	width:254;
	left:50%;
	margin-left:-127px;
	font-size:1.2em;
	line-height:1.2em;

	background-repeat:no-repeat;
	background-position:left top;
	min-height:67px;
	padding-left:75px;
}
div.story_boxes .col-md-4 p span{
	color:#4e4e4e;
	display:block;
}
div.story_boxes .col-md-4 p.transform{
	background-image:url('../images/transform.png');
	margin-top:8%;
}
div.story_boxes .col-md-4 p.invigorate{
	background-image:url('../images/invigorate.png');
	margin-top:46%;
}
div.story_boxes .col-md-4 p.initiate{
	background-image:url('../images/initiate.png');
	margin-top:8%;
	margin-left:-85px;
}

#main{
	background-color:#fff;
}
.smallFields{
	padding-top:40px;
}
.textBoxWrapper .error-msg{
	top:46px;
}
/* top left menu icon */
.compass{
	width:57px;
	height:57px;
	position:fixed;
	z-index:1000;
	right:0px;
	top:0px;
	background-color:#334138;
	cursor:pointer;
}
.compass div{}
.compass div img{
	-webkit-transition: -webkit-transform 0.3s ease;
	-moz-transition: -moz-transform 0.3s ease;
	-o-transition: -o-transform 0.3s ease;
	transition: transform 0.3s ease;
}
.compass.open div img{
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 28,28;
    -o-transform: rotate(45deg); 
    -o-transform-origin: 28,28;
    transform: rotate(45deg);
    transform-origin: 28,28;
}

/* home page bullet items */
.dogcoats{
	margin-bottom:20px;
}
.dogcoats .row .count-font {
	margin-bottom: 0px;
}
.dogcoats .row .pull-left img {
	margin-bottom:20px;
}
@media all and (max-width: 992px) {
	.dogcoats .row{
		padding-bottom:12px;
	}
	.dogcoats .row .count-font {
		margin-bottom: 0px;
	}
}

/* stories page font size adjust for page width range 992 - 1200 (4 small boxes wide */
@media all and (min-width: 992px) and (max-width: 1200px) {
	.stories__row span.desc{
		padding-left:20px;
		padding-right:20px;
	}
	.stories__row span.desc h3{
		font-size:1.1em;
		margin-bottom:5px;
	}
	.stories__row span.desc p{
		font-size:1em;
	}
}

form.contact input {
	font-size:18px;
}
form.contact textarea {
	font-size:18px;
}
form.contact .contact-success > p{
	font-size:30px;
}
form.contact .contact-field{
	width:100%;
}
form.contact .smallFields .contact-field input{
	height:58px;
	line-height:58px;
	margin-bottom:53px;
}
form.contact .smallFields .error-msg{
	top:15px;
}
form.contact .textBoxWrapper .error-msg{
	top:55px;
}
@media all and (max-width: 992px) {
	form.contact .contact-field{
		width:100%;
	}
	form.contact .smallFields .contact-field {
		margin-bottom:20px;
	}
	form.contact .smallFields .contact-field input{
		margin-bottom:0px;
	}

    form.contact .error-msg {
        position: static;
        text-align: left;
    }
    form.contact .error-msg .text {
        display: inline-block;
        width: 100%;
        height: 22px;
        padding: 5px 0 5px 30px;
        background: #ba2025 url(../images/arrows-dropdown.png) no-repeat 8px -126px;
        line-height: 12px;
        font-style: normal;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    form.contact .error-msg .left-arrow {
        display: none;
    }
    form.contact .error input,
    form.contact .error textarea {
        margin-bottom: 0;
        border: 1px solid #ba2025;
    }
}