/**
 * Admin panel stylesheet
 */

.column-thumb
{
    width: 90px;
}

.column-trip_code
{
    width: 60px;
}

td.column-trip_code
{
    font-weight: bold;
}

.mceIframeContainer
{
    background: #FFF;
}

.date_from, .date_to
{
    background: url('../images/admin/datepicker.png') right center no-repeat;
    cursor: pointer;
}

body #header-logo
{
    background: url('../images/admin/logo.png') left top no-repeat;
    width: 274px;
    height: 66px;
}

#site-title
{
    text-indent: -9999px;
    display:block;
}

.checkbox_label
{
    display: block;
    margin-top: 5px;
}

th#thumbnail
{
    width: 100px;
}

.inside textarea, .video textarea
{
    width: 100%;
}
.video-embedcode span, .video-embedcode span
{
    color: #999;
}
.sites-share
{
    margin-bottom: 5px;
}
.sites-share select
{
    width: 20%;
}
.video-id input
{
    width: 99%;
    margin-bottom: 3px;
}
.video-id textarea
{
    background-color: #EEE;
}
.video-id
{
    margin-bottom: 7px;
}

.references_categories
{
    width: 22.5%;
    float: left;
    margin: 1% 1%;
}
.experience.references_categories
{
    width: 47%;
}
.experience .misc-pub-section table,
.experience .misc-pub-section input,
.file-details table td .file-message
{
    width: 100%;
}

.contact_field
{
    width: 17%;
    float: left;
    border: 1px solid #DFDFDF !important;
    margin: 0.5%;
}

.the-gate-gallery-thumbs li {
    margin: 4px;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    background: #eee;
    padding: 5px;
    border: 1px solid #DFDFDF;
    width: 109px;
    height: 109px;
}
.the-gate-gallery-thumbs li img {
    cursor: move;
    width: 109px;
    height: 109px;
    padding: 0;
    margin: 0;
}
.the-gate-gallery-thumbs li .the-gate-gallery-remove {
    display: block;
    text-indent: -9999px;
    outline: 0;
    background: url(../images/admin/delete_thumb.png) no-repeat 0 0;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -4px;
    right: -4px;
}
.wpsimplegallery_placeholder {
    border: 1px dashed #ccc !important
}
.ui-sortable-helper {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.the-gate-gallery-container .clearfix:before,
.the-gate-gallery-container .clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.the-gate-gallery-container .clearfix:after {
    clear: both
}
.the-gate-gallery-container .clearfix {
    zoom: 1
}
.delete-landing-page-entry {
    float: right;
}
.landing-page-entry-post,
.landing-page-entry-category {
    max-width: 33%;
}
/*.postbox .landing-post
{
    width: 270px;
    padding: 10px;
    margin: 10px;
    float: left;
}
.landing-post-img
{
    margin: 0 auto;
    padding: 10px;
}*/
.vpWrapper{
    overflow:hidden;
    background-color:#c2c2c2;
    background-color:#f00;
    position:relative;
    width:50%;

    padding-bottom:40%;
    padding-bottom:28%;
}
.vpWrapper img{
    width:100%;
    height:auto;
    display:block;
    opacity:0;
    display:none;
}
.vpWrapper video,
.vpWrapperFull video{
    width:100%;
    height:auto;
    display:block;
}
.vpWrapper video{
    position:absolute;
    left:0;
    top:50%;
    margin-top:-25%;
}
.vpWrapperFull{
    width:100%;
    position:relative;
    overflow:hidden;
}
.vpWrapperFull video{}
.videoIcons{
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    width:64px;
    height:64px;
    padding:25px;
    display:block;
    background-color:#fff;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-57px;
    margin-top:-57px;
    z-index:100;
    opacity:0;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}
.videoIcons div{
    background-image: url(../images/video_play_icons_64px.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width:64px;
    height:64px;
    text-indent:-9999em;
    overflow:none;
    display:block;
}
.pause div{
    background-position: 0px -128px;
}
.vpWrapper:hover .videoIcons,
.vpWrapperFull:hover .videoIcons{
    opacity:0.75;
}
.vpWrapper:hover .videoIcons div,.vpWrapperFull:hover .videoIcons div{}
.vpWrapper:hover .pause div,.vpWrapperFull:hover .pause div{}
.controlLayer{
    position:absolute;
    left:0px;
    top:0px;
    z-index:1000;
    width:100%;
    height:100%;
    background-color:#ff0000;
    opacity:0;
    cursor:pointer;
}
.timeline{
    position:absolute;
    left:0px;
    z-index:900;
    background-color:rgba(255,255,255,0.75);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    padding:0 64px;
    width:100%;
    height:32px;
    -webkit-transition: bottom 0.3s ease, opacity 0.3s ease;
    -moz-transition: bottom 0.3s ease, opacity 0.3s ease;
    -ms-transition: bottom 0.3s ease, opacity 0.3s ease;
    -o-transition: bottom 0.3s ease, opacity 0.3s ease;
    transition: bottom 0.3s ease, opacity 0.3s ease;
    opacity:0;
    bottom:-32px;
}
.vpWrapperFull:hover .timeline{
    opacity:1;
    bottom:0px;
}
.timeline .outer{
    position:relative;
    margin-top:12px;
}
.timeline .track{
    position:absolute;
    left:0px;
    top:0px;
    z-index:0;
    width:100%;
    height:8px;
    background-color:#7f7f7f;
}
.timeline .inner{
    position:absolute;
    left:0px;
    top:0px;
    z-index:1;
    height:8px;
    width:0;
    background-color:#000;
    /*
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
    */
}
.timeline .marker{
    position:absolute;
    left:0px;
    top:0px;
    z-index:2;
    width:8px;
    height:8px;
    /*
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    */
    border:4px solid #fff;
    background-color:#ff0000;
    margin-left:-4px;
    margin-top:-4px;
}
.timeline p{
    position:absolute;
    top:6px;
    z-index:1;
    margin:0;
}
.timeline p.total{
    right:8px;
}
.timeline p.elapsed{
    left:8px;
}
