    .scrollWindow{
        max-height:none;
    }
    .overlay{display:none;}
	.backToTop{
		display: block;
	}
	form.contact .contact-field, .contact-success{
		width: 100%;
	}
    .sub-page .header-holder{padding:14px 10px 20px;}
    #header:after { 
        height:66px; 
        background: none;
    }
    .about-us #header:after { 
        background: -moz-linear-gradient(top,  rgba(35,31,32,0.33) 0%, rgba(35,31,32,0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,31,32,0.33)), color-stop(100%,rgba(35,31,32,0)));
        background: -webkit-linear-gradient(top,  rgba(35,31,32,0.33) 0%,rgba(35,31,32,0) 100%);
        background: -o-linear-gradient(top,  rgba(35,31,32,0.33) 0%,rgba(35,31,32,0) 100%);
        background: -ms-linear-gradient(top,  rgba(35,31,32,0.33) 0%,rgba(35,31,32,0) 100%);
        background: linear-gradient(to bottom,  rgba(35,31,32,0.33) 0%,rgba(35,31,32,0) 100%);
    }
    .home .visual img.active {
        min-height: 320px;  
    }
    .about-us .visual, .news-article .visual {
        margin-top: 0;   
    }
    .slide .opener{
        background:#094165 url(../images/icons.png) no-repeat 12px -92px;
    }
    /* .visual */
    .visual{
        position:static;
        width:auto;
        overflow:hidden;
    }
    .sub-menu,
    .menu{display:none;}
    .visual .text{display:none;}
    .sub-page .visual .always-visible {
        display: block;
        top: 50%;
        width: 180px;
        margin: 25px 0 0 -90px;
        transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
        -moz-transform: translate(0,-50%);
        -webkit-transform: translate(0,-50%);
    }
    .sub-page .visual .always-visible h2 {
        display: none;
    }
    .sub-page .visual .always-visible iframe { 
        width: 180px;
        height: 120px;
    }
    /* logo */
    .logo-area,
    .sub-page .logo-area{
        margin:0;
        float:none;
        padding-bottom:10px;
        width: 102px;
    }
    .sub-page .logo-area .logo,
    .sub-page .logo,
    .logo{
        width:101px;
        height:44px;
        background-position:0 -177px;
        position:relative;
        z-index:10;
        margin:0;
        float:none;
        display:block;
    }
    .about-us .logo-area .logo,
    .about-us .logo,
    .about-us,
    .header-holder .logo {   
        background-position:0 -80px;
    }
    .logo{margin:0 0 10px;}
    .sub-page .header-area{
        background:none;
        box-shadow:none;
        -webkit-box-shadow:none;
        position:absolute;
        z-index: 8010;
    }
    .nav-popup-active .header-area{
        background:#000;
        background: rgba(0, 0, 0, 0.76);
    }
    .sub-page .header-area .container,
    .header-area .container{
        padding:0 0 44px;
        position:relative;
        margin:0 10px;
    }
    /* main */
    .sub-page #main,
    #main{ padding: 8px 10px 17px; }
    /* nav */
    .sub-page #nav ul,
    #nav ul{
        display:block;
        font:300 30px/36px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
    }
    #nav li{
        display:block;
        height: 44px;
        padding:0 0 3px;
    }
    #nav a{
        background: rgba(255, 255, 255, 0.7);
        padding:4px 0;
        line-height: 35px;
    }
    #nav a:active,
    #nav a:hover{
        background:#fff;
        background: rgba(255, 255, 255, 0.9);
        line-height: 35px;
        font: 300 30px/36px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
    }
    .sub-page #nav .active a,
    .sub-page #nav .current-menu-item a,
    .sub-page #nav .current-page-ancestor a{font-weight:normal;}
    .nav-popup{display:none;}
    .search-area{
        position:absolute;
        left:0;
        bottom:0;
        width:100%;
        height:44px;
        margin:0;
        z-index:20;
    }
    .sub-page .btn-search,
    .btn-search{
        height:44px;
        width:100%;
        background: rgba(255, 255, 255, 0.7) url(../images/icons.png) no-repeat 50% 10px;
    }
    .sub-page .btn-search:active,
    .btn-search:active{
        background: rgba(255, 255, 255, 0.7) url(../images/icons.png) no-repeat 50% 10px;
    }
    .search-open .btn-search {
        background: rgba(255, 255, 255, 0.7);   
    }
    .popup-active .btn-search,
    .sub-page .popup-active .btn-search{display:none;}
    .search-area .popup-holder{
        width:100%;
        top:0;
        padding-top:0;
    }
    .form-search .text-holder{
        margin:0 60px 0 0;
        float:none;
        background:#fff;
        background:rgba(255, 255, 255, 0.7);
        overflow:hidden;
        padding:0 0 0 10px;
    }
    .form-search input[type="text"]{
        width:100%;
        padding:11px 0;
    }
    .form-search input[type="submit"]{
        height:44px;
        width:57px;
        background:#fff url(../images/sprite.png) no-repeat -131px -60px;
        background:rgba(255, 255, 255, 0.7) url(../images/sprite.png) no-repeat -131px -60px;
        position:absolute;
        right:0;
        top:0;
        float:none;
    }
    .popup-holder .form-search .text-holder {
        background: #ededed;
    }
    .heading{
        font-size:24px;
        line-height:27px;
        margin: 10px 0 38px 0;
        padding: 22px 5px 22px 0;
        border-bottom: 2px solid #d1d3d4;
    }
    .heading.border{
        padding: 10px 0 5px 0;
        font-size:18px;
        line-height:24px;
        border-bottom: 2px solid #d1d3d4;
    }
    .heading:after {
        display:block;
        height:2px;
        left:0;
        background:#d1d3d4;
        width:100%;
        margin:0;
    }
    /* list */
    .list-area{
        overflow:visible;
        margin:0;
        padding: 30px 0 0 0;
    }
    .list{
        margin:0 -10px;
        overflow:hidden;
        font:16px/20px Helvetica, Arial, Verdana, sans-serif;
        color:#58595b;
    }
    .list li{
        display:block;
        margin:-40px 0 20px;
        padding:28px 15px;
        background:none;
        width: 100%;  
        overflow:hidden;
        border-top:2px dotted #96989b;
    }
    .list .holder {
        /*height: auto !important;*/
        min-height: 1px;
        margin:0;
        padding: 7px 15px 18px;
        border: none;
    }
    .list .holder:hover {
        border: none;
        -webkit-box-shadow: 0 0 0 rgba(50, 50, 50, 0.15);
        -moz-box-shadow:    0 0 0 rgba(50, 50, 50, 0.15);
        box-shadow:         0 0 0 rgba(50, 50, 50, 0.15);
    }
    .list .title,
    .news-landing .list .title {
        display:block;
        font:600 18px/22px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
        color:#58595b;
        background:none;
        border:none;
        position:static;
        margin:0;
        padding:0;
        text-align: left;
    }
    .list figure{margin-bottom:5px;}
    .list figure img{display:none;}
    .list p{margin-bottom:10px;}
    .list h3,
    .news-landing .list h3 {
        font-size:26px;
        line-height:28px;
        margin-bottom:7px;
    }
    .list h4{font:italic 16px/20px Helvetica, Arial, Verdana, sans-serif;}
    .list header{ clear: both; margin-bottom:5px;}
    /* simple-list */
    .simple-list{
        margin:0 -10px 30px;
    }
    .simple-list p {
        font:16px/20px 'helvetica_lightregular', Arial, Verdana, sans-serif;
        color:#585957;
    }
    .simple-list h2{display:none;}
    .simple-list .gray,
    .simple-list > li{
        padding:0 19px 3px;
        margin:0;
    }
    .news-landing .simple-list .gray{background:none!important;}
    .simple-list .opener{padding:3px 10px;}
    .simple-list .slide{padding:22px 0 35px;}
    .simple-list .alignright,
    .simple-list .alignleft{
        float:none;
        margin:0 auto 18px;
        width:64%;
        text-align:center;
    }
    .simple-list .alignright.large,
    .simple-list .alignleft.large{width:80%;}
    .simple-list .alignright img,
    .simple-list .alignleft img{
        width:auto;
        max-width:100%;
        height:auto;
    }
    .simple-list h3{
        font:600 18px/22px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
        margin-bottom:15px;
        color: #005581;
    }
    .simple-list .border{
        border-radius:95px;
        -webkit-border-radius:95px;
        width:184px;
        height:184px;
    }
    .about-us .simple-list .border {
        height: auto;
        border: none;
    }
    .simple-list .text.indent{padding-left:0;}
    .columns-area{
        margin:0;
        padding:0 0 20px;
        font:16px/20px Helvetica, Arial, Verdana, sans-serif;
        color:#585957;
    }
    .columns-area .column{
        float:none;
        width:auto;
        padding:13px 0 0;
        margin:0 0 27px;
        background:none;
        position:relative;
    }
    .columns-area .column:after{
        content:"";
        position:absolute;
        left:0;
        top:0;
        width:60%;
        height:1px;
        border-bottom:2px dotted #585957;
    }
    .columns-area h4{
        color:#585957;
        font:bold 16px/20px Helvetica, Arial, Verdana, sans-serif;
        margin-bottom:19px;
        min-height:0;
    }
    .columns-area li{padding-bottom:0;}
    .roll-wrap {
        padding: 20px 0 0;   
    }
    .roll:first-child,
    .roll{
        padding: 0;
        font:16px/20px Helvetica, Arial, Verdana, sans-serif;
        -moz-column-count: 1;
        -moz-column-gap:0;
        -webkit-column-count: 1;
        -webkit-column-gap: 0;
        column-count: 1;
        column-gap: 0;
        width:100%;
        margin:0;
    }
    .roll li{margin-bottom:4px;}
    .count-area,
    .block,
    .columns-holder .link-area .desktop-link,
    .block-in{display:none;}
	.block-twitter{
		display: block !important;
	}
	.block .holder{
		margin-top: -38px;
	}
    .direction{display:none !important;}
    .columns-holder{display:block;}
    .columns-holder{
        margin:0 23px 10px;
        padding:23px 0 0;
    }
    .columns-holder .link-area .mobile-link {
        display: block;   
    }
    .columns-holder .link-area .link {
        margin-bottom: 15px;   
    }
    .columns-holder .text p{ 
        font: 14px/16px Arial, Helvetica, Verdana, sans-serif;
    }
    .columns-holder .area{
        display:block;
        width:auto;
        overflow:hidden;
        line-height:18px;
    }
    .columns-holder .columns-place{margin:0 -10px 0 0;}
    .columns-holder .column{
        width:48%;
        padding:0 2% 30px 0;
    }
    .columns-holder{font:15px/18px Helvetica, Arial, Verdana, sans-serif;}
    .columns-holder h3{font:bold 15px/18px Helvetica, Arial, Verdana, sans-serif;}
    .columns-holder .link a {font-weight:bold;}
    .slide-area .opener .ico{
        margin:-7px 5px;
        width:30px;
        height:29px;
        background: url(../images/sprite.png) no-repeat -90px 0;
    }
    .slide-area.active .opener .ico{background-position:-90px -29px;}
    .slide-area.active > .opener{
        padding-top:14px;
        display:none;
    }
    .slide-area.active .slide{border:none;}
    #footer{overflow:visible;}
    #footer .footer-frame{padding:6px 0;}
    /* Contact */
    .contact-wrap #main {
        padding-bottom: 0;
    }
    .contact-wrap .simple-list li {
        display: none;
    }
    .contact-wrap .simple-list li:first-child {
        display: list-item;
    }
    .contact-wrap .simple-list {
        position: relative;
        float: left;
        margin-bottom: 0;
    }
    .contact-wrap h2 {
        display: block;
        margin-bottom: 0;
        padding: 3px 0 0 36px;
        line-height: 24px;
        font-size: 24px;
    }
    .contact-wrap .contact input {
        margin-bottom: 5px;
        padding: 0 8px;
    }
    .contact-wrap .contact input[type="submit"] {
        width: 95px;
        height: 38px;
        margin-bottom: 15px;
    }
    .contact-wrap .contact textarea {
        margin: 10px 0;
        padding: 8px;
    }
    .local-office {
        top: 50%;
        left: 50%;
        width: 179px;
        height: 179px;
        border-radius: 162px;
        margin: -86px 0 0 -81px;
    }
    .local-office .local-office-inner {
        top: 4px;
        left: 4px;
        width: 169px;
        height: 169px;
        padding: 0;
    }
    .local-office em {
        margin: 0;
        font-size: 12px;		
    }
    .local-office h4 {
        /*margin-top: 15px;*/
    }
    .simple-list .local-office p {
        float: none;    
    }
    .visual .local-pin {
        display: none;
    }
    .contact-wrap .visual {
        top: 0;
        width: 100%;
        height: 200px;
    }
    .contact-wrap .visual img {
        width: auto;
        height: 100%;
    }
    .contact-wrap .simple-list .gray {
        background:#f1f1f2;
        background: -moz-linear-gradient(top,  #f1f1f2 0%, #f1f1f2 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f2), color-stop(100%,#f1f1f2));
        background: -webkit-linear-gradient(top,  #f1f1f2 0%,#f1f1f2 100%);
        background: -o-linear-gradient(top,  #f1f1f2 0%,#f1f1f2 100%);
        background: -ms-linear-gradient(top,  #f1f1f2 0%,#f1f1f2 100%);
        background: linear-gradient(to bottom,  #f1f1f2 0%,#f1f1f2 100%);
    }
    form.contact {
        width: 100%;
        margin-left: 0;
    }
    form.contact input[type="submit"] {
        position: relative;
        right: 0;
        float: right;
    }
    .office1, .office2, .office3 {
        float: left;
        clear: both;   
    }
    /* Errors */
    .error-msg {
        position: static;
        text-align: left;
    }
    .error-msg .text {
        display: inline-block;
        width: 100%;
        height: 22px;
        padding: 5px 0 5px 30px;
        background: #ba2025 url(../images/arrows-dropdown.png) no-repeat 8px -126px;
        line-height: 12px;
        font-style: normal;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .error-msg .left-arrow {
        display: none;
    }
    form.contact .error input, form.contact .error textarea {
        margin-bottom: 0;
        border: 1px solid #ba2025;
    }

    /* Tabs */
    .tab-titles,
    .fake-tab-titles {
        float: left;
        display: block;
        width: 100%;
        margin-top: 90px;
        padding: 0 10px;
        list-style-type: none;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .fake-tab-titles {
        margin-top: 14px;   
    }
    .tab-titles li,
    .fake-tab-titles li {
        width: 50%;
        float: left;
        color: #000;
        font: 24px/40px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
        text-transform: uppercase;
        text-align: right;
    }
    .tab-titles li.current,
    .fake-tab-titles li.current {
        font-weight: bold;
    }
    .tab-titles li:first-child,
    .fake-tab-titles li:first-child {
        text-align: left;
    }
    .tab-titles li a,
    .fake-tab-titles li a {
        color: #000000;
        text-decoration: none;
    }
    .form-right {
        display: none;
    }
    /* Carousels arrows */
    .featured-prev-next {
        position: absolute;   
    }
    .featured-prev-next li {
        top: 2px;  
    }
    .featured-prev-next li.next {
        float: right;    
    }
    /* connected-items */
    .connected-items { background: none; } 
    .connected-items-holder .list {
        margin: 0;
        padding: 0 10px;    
    }
    .campaign-content .list {
        margin: 0;    
    }
    .individual-campaign .connected-items-holder .list,
    .indport-piece .connected-items-holder .list,
    .news-article .connected-items-holder .list {
        padding: 0;
    }
    .connected-items .list li,
    .campaign-content .list li {
        width: 50%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        margin:0;
        border: none;
    }
    .connected-items-holder .list .holder,
    .campaign-content .list .holder{
        max-width:100%;
        padding: 0;
        margin: 0 5px 8px;
    }
    .connected-items-holder .list li:nth-child(3n-1) .holder,
    .campaign-content .list li:nth-child(3n-1) .holder {
        margin: 0 5px 8px;   
    }
    .connected-items-holder .list li:nth-child(3n) .holder,
    .campaign-content .list li:nth-child(3n) .holder {
        float: none;
    }
    .connected-items .list figure img, .campaign-content .list figure img {display:block;}
    .connected-items .list .title,
    .campaign-content .list .title {
        display:block;
        font: 700 14px/22px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
        color:#fff;
        background: rgba(0, 0, 0, 0.2);
        border: solid #fff;
        border-width:0 1px 1px;
        position:absolute;
        margin:0!important;
        padding:2px 11px 1px;;
    }
    .connected-items .list li p, .connected-items .list li a.more,
    .campaign-content .list li p, .campaign-content .list li a.more { display: none; }   
    .connected-items h2 {
        margin:0 10px 18px;
        padding:0;
        border-bottom: 2px dotted #96989B;
        font-size: 24px;
        line-height: 32px;
    }
    .connected-items h3,
    .campaign-content h3 {
        margin-bottom: 0;
        font-size:18px;
        line-height: 18px;     
    }
    .connected-items h4 {
        display: none;
    }
    /* News landing */
    .featured-news-side {
        display: none;
    }
    .news-landing .slider-expand-wrapper {
        width: 100%;
        height: 215px;
    }
    .featured-news-slider li a > img {
        float: right;
        width: 100%;
        height: auto;
        margin-left: 0;
    }
    .news-landing .list li {
        padding: 28px 0;  
    }
    .news-landing .sectional-excerpts {
        width: 100%;
        border-bottom: 2px dotted #96989B;
        padding: 5px 15px 20px;
        margin-bottom: 20px;
        color: #59595b;
        font: 300 16px/20px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
        text-transform: uppercase;
    }
    /* NY About page */
    #content p.intro {
        padding-bottom: 22px;
        border-bottom: 2px solid #D1D3D4;
        font: 17px "proxima-nova", Arial, Helvetica, Verdana, sans-serif; 
    }
    .simple-list .text {
        margin-bottom: 20px;   
    }
    #about {
        padding: 0 19px 3px;   
    }
    #about-mob {
        display: block;   
    }
    #experience {
        padding: 0;
    }
    #experience .text.indent h3,
    #experience .text.indent p,
    #experience .roll li a {
        padding: 0 19px;    
    }
    #experience .roll li p {
        float: none; 
    }
    #experience h3 {
        width: 130px;
        font-size: 16px;
    }
    #experience .text {
        padding: 0;   
    }
    #experience .opener span {
        display: none;   
    }
    .modal-window  {
        /*display: block;*/
        position: relative;
        overflow: visible;
        padding: 35px 20px;
        margin: 25px 0;
        background: #e8e8e8; 
    }
    .modal-window h2 {
        display: block;
        margin-bottom: 15px!important;
        padding: 0;
        border: none;
        color: #0a4165;
        font: bold 18px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
        cursor: pointer;       
    }
    .modal-window h3 {
        display: none;
    }	
    .modal-window div {
        float: none;
        width: 100%;
        padding: 0;
        letter-spacing: 2px;  
    }
    .top-close, .bottom-close {
        display: block;
        position: absolute;
        left: 50%;
        width: 54px;
        height: 46px;
        margin-left: -27px;
        background: url(../images/slider-arrows-mobile.png) no-repeat 0 0;
        cursor: pointer;   
    }
    .top-close {
        top: -23px;
    }
    .bottom-close {
        bottom: -23px;
        background-position: 0 -67px;
    }
    #capabilities h3.desc {
        display: none;   
    }
    #capabilities h3.mob {
        display: block;   
    }
    #capabilities figure img {
        padding-top: 0;   
    }
    /* Work NY */
    .work-slider-wrapper {
        height: 0;
        overflow: hidden;
        padding: 0;
    }
    .work .connected-items {
        padding-top: 0;
    }
    /* Work NY - Individual Campaign */
    .individual-campaign .featured-prev-next,
    .indport-piece .featured-prev-next {
        float: left;
        top: 0;	
        height: 45px;
        padding: 2px 0 0 0;
        background: #01507a;
        position: relative;

    }
    .individual-campaign .list.desktop {
        display: none;
    }
    .individual-campaign .list.mobile {
        display: block;
    }
    .individual-campaign .work-slider-wrapper {
        height: 215px;
        float: left;	
    }
    .indport-piece .work-slider-wrapper {
        max-height: 400px;
        float: left;	
    }
    .individual-campaign .main-holder,
    .indport-piece .main-holder {
        float: left;
    }
    .individual-campaign .featured-prev-next .back, 
    .individual-campaign .featured-prev-next .forward {
        float: right;
        width: 34px;
        height: 34px;
        background: url(../images/mobile-carousel-prevnext.png) no-repeat 0 0;
    }
    .individual-campaign .featured-prev-next .back,
    .indport-piece .featured-prev-next .back {
        margin: 4px -2px 0 0;	
    }
    .individual-campaign .featured-prev-next .forward,
    .indport-piece .featured-prev-next .forward {
        margin: 4px 10px 0 0;	
        background-position: -72px 0;
    }
    .featured-prev-next .mobile-carousel-msg {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        color: #fff;
        text-indent: 0;
        background: none;
        z-index: 450;
    }
    .news-article .featured-prev-next {
        height: 45px;
    }
    .news-article .mobile-carousel-msg {
        background: #005581;	
    }
    .featured-prev-next .mobile-carousel-msg:hover {
        background: #005581;
    }
    .featured-prev-next .mobile-carousel-msg span {	
        min-width: 50px;
        font: 700 normal 18px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
        letter-spacing: 1px;
    }
    .individual-campaign .street-campaign h2 {
        display: none;	
    }
    .individual-campaign .street-campaign aside {
        float: left;
        width: 100%;
    }
    .street-campaign aside h3 {
        max-width: 100%;
        margin: 5px 0;
        padding: 0 10px;
        text-align: left;
        font: 300 normal 18px/20px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
    }
    .campaign-aside-top {
        margin: 0;
        text-align: center;
    }
    .campaign-aside-content {
        max-height: 100%;
        margin: 20px 0 0 0;
        padding: 0 15px;	
    }
    .individual-campaign .article-info {
        float: none;
        width: 100%;
        margin: 0;	
    }
    .article-info-container {
        float:left;
        min-width: 100%;	
        margin: 10px 0;
    }
    .article-info-container .article-info li .social {
        display: none;
    }
    .article-info-container-mob {
        display: block;   
    }
    .article-info-container-mob .article-info li .social {
        display: block;
        width: 185px;
        padding: 0;
        margin: 0 auto;
    }
    .individual-campaign .article-info li.post-info {
        float: none;
        width: 230px;
        margin: 0 auto;	
        font: 400 normal 18px/16px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
    }
    .individual-campaign .article-info li.post-info span {
        clear: none;
        margin: 0 5px 0 0;	
    }
    .article-info-container .article-info li ul.social li:last-child,
    .indport-left ul.social li:last-child {
        margin: 0;	
    }
    .campaign-content {
        width: 100%;	
    }
    #wrapper {
        max-width: 100%;	
        min-width: 100%;
    }
    .campaign-aside-top img {
        width: 50%;	
    }
    /* People Individual */
    .individual-mobile .main-holder {
        padding: inherit;
        max-width: inherit;
        text-align: center;	
    }
    .people-ind #header .header-area {
        position: relative;
    }
    /* IndPort */
    .indport-left {
        float: left;
        width: 100%;
        text-align: center;	
        margin: 20px 0 0 0;
    }
    .indport-left img, .indport-left .social {
        float: none;	
    }
    .indport-right {
        width: 100%;
        margin: 0;	
    }
    .indport-right h2 {
        border-bottom: none;
        text-align: center;
    }
    .indport-right p {
        padding: 0 10px;	
    }
    .individual-campaign .campaign-aside-content {
        margin: 20px 0;	
        padding: 0 10px;   
    }
    .indport-piece .connected-items {
        display: inherit;	
        margin: 20px 0 0 0;
    }
    .indport-left img {
        margin: 0 0 20px 0;
        width: 50%;
        height: auto;
    }
    .indport-piece .featured-prev-next .mobile-carousel-msg span,
    .news-article .featured-prev-next .mobile-carousel-msg span {
        padding: 5px 0 0 0;
        font: 400 30px "proxima-nova",sans-serif;
        text-transform: uppercase;
    }
    .news-article .featured-prev-next li.next a { padding:0;}
    .news-article .featured-prev-next .mobile-carousel-msg span {
        position: relative;
        top: 4px;	
    }
    .indport-piece .featured-prev-next .mobile-carousel-msg {
        padding: 4px 0 0 0;
        z-index: 1;
    }
    /* dropdown menu */
    .dropdown-menu {
        position: relative;
        float: left;
        width: 200px;
        margin: 0 0 0 104px;
        padding: 0;	
        list-style: none;
        z-index: 8000;
    }
    .dropdown-menu li {
        background: #4a4949;	
    }
    .dropdown-menu > li {
        text-align: right;
    }
    .dropdown-menu .dropdown-submenu li {
        margin: 3px 0 0 0;
        background: #e1dfde;	
    }
    .dropdown-menu a {
        display: block;
        padding: 5px 22px 5px 14px;
        font: 600 14px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
    }
    .work .dropdown-menu a {
        padding: 0;   
    }
    .dropdown-menu li span.dropdown-label { padding-right: 10px; font: 600 14px/27px "proxima-nova",sans-serif!important; text-transform: uppercase; }
    .dropdown-menu li span.dropdown-label span {
        display: none;
    }
    .dropdown-menu  .dropdown-title {
        display: block;
        width: 150px;
        background: url(../images/arrows-dropdown.png) no-repeat 155px -190px;	
    }
    .dropdown-menu .dropdown-title-label {
        display: inline-block;
        padding-right: 5px;
        color: #504f4f;
        font: 600 14px/16px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
        text-transform: uppercase;   
    }
    .dropdown-menu .shown  {
        background: url(../images/arrows-dropdown.png) no-repeat 155px -123px;	
    }
    .dropdown-menu .dropdown-submenu a {
        padding: 10px 13px;
        font: 300 20px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
        color: #231f20;
        text-align: center;
    }
    .dropdown-menu .dropdown-submenu a.first {
        padding: 10px 13px;	
    }
    .dropdown-submenu {
        display: none;
        top: -3px;	
        width: 284px;
        margin: 0 0 0 -104px;
        padding: 10px;
        background: #4a4949;
    }
    .dropdown-menu .headlink,
    .mobile-listview .dropdown-menu .headlink {
        float: right;	
        width: 100%;
        background: none;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .dropdown-menu .headlink .dropdown-title,
    .mobile-listview .dropdown-menu .headlink .dropdown-title {
        float: right;
        width: 150px;
        padding: 4px 35px 4px 12px;
        background: #4a4949 url(../images/arrows-dropdown.png) no-repeat 175px -191px;
        font: 600 14px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
        text-transform: uppercase;
        text-align: left;
        color: #fff;
    }
    .news-article .article-head .dropdown-menu,
    .mobile-listview .dropdown-menu {
        position: absolute;
        float: right;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style-type: none;
        list-style: none;
    }
    .news-article .article-head .dropdown-menu a,
    .mobile-listview .dropdown-menu a {
        text-decoration: none;
    }
    .news-article .dropdown-menu {
        display: block;   
    }
    .dropdown-menu .headlink .shown,
    .mobile-listview .dropdown-menu .headlink .shown {
        background: #4a4949 url(../images/arrows-dropdown.png) no-repeat 175px -126px;
    }
    .news-article .article-head .dropdown-menu .headlink .dropdown-submenu,
    .mobile-listview .dropdown-menu .headlink .dropdown-submenu {
        display: none;
        position: relative;
        float: right;
        width: 100%;
        padding: 10px;
        list-style-type: none;
        list-style: none;
        clear: both;
        background: #4a4949;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .news-article .dropdown-submenu li:first-child,
    .mobile-listview .dropdown-submenu li:first-child {
        margin: 0;
    }
    .news-article .dropdown-submenu li,
    .mobile-listview .dropdown-submenu li {
        margin: 3px 0 0 0;
    }
    .news-article .dropdown-submenu li a,
    .mobile-listview .dropdown-submenu li a {
        display: block;
        padding: 10px 0;
        background: #e1dfde;	
        font: 300 20px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
        text-transform: uppercase;
        text-align: center;
        color: #231f20;
    }
    /* dropdown menu end */  
    .news-article .sub-page #main, .news-article #main, 
    .individual-campaign #main,
    .indport-piece #main {
        padding: 0;
    }
    .news-article .news-backgrd { background: none!important }
    .news-article .news-gallery { padding: 130px 0 0; text-align:center; }    
    .news-gallery ul { display: none;}
    .news-article .featured-prev-next { top: 85px; width: 100%; margin: 0; background: #01507a; }
    .news-article .featured-prev-next li.next {
        width: 41px; 
    }
    .news-article .article-head { position:relative; margin-top: 0;}
    .news-article aside .dropdown-menu { display: none;}
    .news-article .news-backgrd { overflow:visible;}
    .news-article .article-head .dropdown-menu { display: block; top: 10px; right: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
    .news-article .news-gallery .feature-img img { width: 100%; float:none; }
    .news-article article.article-body { width: 100%; }
    .news-article .news-backgrd { height: auto; } 
    .news-article #content { padding: 0 0 10px; }
    .news-article .wrapper-holder { position: relative;}
    .news-article aside ul.dropdown-menu { position:absolute; top:10px; right: 10px;  }
    .news-article .article-head h2 { margin: 0 0 5px; font: 300 26px "proxima-nova",sans-serif; float: left; clear: both }
    .news-article .article-head h4 { display: block; margin: 60px 0 0 0; font: 600 18px "proxima-nova",sans-serif; float: left; clear: both }
    .news-article .article-head h3 { font: italic 400 16px 'helvetica_lightregular', Arial, sans-serif; float: left; clear: both;}
    .news-article article.article-body { padding-top: 0; font: 16px Helvetica, Arial, sans-serif;}
    .news-article aside, .news-article aside .article-info { width: 100%;}
    .news-article aside .article-info { padding:0; text-align:center;}
    .news-article aside .article-info li { overflow: hidden; }
	.news-article aside .views-counter{ display: inline !important; text-align: center; }
	.news-article aside .views-counter img{ display: inline; float: none; }
	.news-article aside .views-counter span{ width: 25%; display: inline; }
    .news-article aside .social { 
        display: block; 
        float: left; 
        position: relative; 
        left: 50%; 
        width: auto; 
        list-style: none;  
    }
    .news-article aside .article-info {
        display: -webkit-flexbox;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex; 
        -webkit-flex-flow: column-reverse;
        -moz-flex-flow: column-reverse;
        -ms-flex-flow: column-reverse;
        -o-flex-flow: column-reverse;
        flex-direction: column-reverse;
    }
    .news-article aside .social li { 
        display: block;
        float: left; 
        position: relative; 
        right: 50%; 
    }
    .news-article article.article-body { padding-bottom:0; }
    .news-article aside .article-info > li {display: none;}
    .news-article aside .article-info > li:first-child { display: block; width:100%; padding:0;}
    /* Search page */
    .simple-list .results-wrap .search-results .result-img,
    .search-wrap .visual {
        display: none;    
    }
    .news-article aside .article-info > li.subscribe-button-wrap {
        display: block;
        margin-top: 0;
    }
    .search-wrap h2 {
        padding: 0 0 0 12px;
        margin: 90px 0 5px;
        font: 400 18px "proxima-nova",sans-serif;   
    }
    .wide-search-box-wrap {
        max-width: 727px;
        margin: 0 15px;
    }
    .wide-search-box {
        top: 155px;   
        width: 91%; 
    }
    .wide-search-box fieldset {
        margin-right: 0;   
        width: 100%; 
    }
    .wide-search-box .text-holder {
        background: #e2e0e0;   
    }
    .wide-search-box input[type="text"] {
        width: 100%;
        height: 27px;
        padding: 10px;   
    }
    .wide-search-box input.btn-search,
    .wide-search-box input.btn-search:active {
        width: 60px;
        height: 47px;
        background: #e2e0e0 url(../images/icons.png) no-repeat 13px 10px;   
    }
    ul.desc-tabs {
        display: none;   
    }
    .simple-list .results-wrap {
        margin-top: 0;
        padding: 20px 24px 0;   
    }
    .simple-list .results-wrap ul.search-results li, .simple-list .results-wrap ul.search-results li:hover {
        display: block;
        padding: 0;
        border: none; 
        box-shadow: none;
        cursor: default;
    }
    .simple-list .results-wrap ul.search-results .result-desc {
        display: block;
        float: left;
        clear: both;
        margin: 0 0 37px;
        width: 100%;
    }
    .simple-list .results-wrap .search-results p {
        padding-left: 0;
        margin: 0;
        font: 16px/20px 'helvetica_lightregular';   
    }
    .simple-list .results-wrap h2,
    .simple-list .results-wrap .search-results h3 {
        padding: 0;
        margin: 0 0 5px;
        font: 400 18px "proxima-nova",sans-serif;   
    }
    .simple-list .results-wrap h2 span {
        font: 700 18px/25px "proxima-nova",sans-serif;
    }
    .simple-list .results-wrap .search-results span.date {
        display: block;
        font-family: 'helvetica_lightregular';   
    }
    .news-landing .title {
        display: block;
        margin-top: 67px;  
    }
    .contact-wrap .title {
        display: block;
        margin-top: 0;
    }
    .work .title {
        display: block;	
    }
    .about-us .title {
        display: block; 
    }
    .search-wrap .title {
        margin-top: 0;  
    }
    .search-wrap .read-more {
        display: block;
        float: right;
        clear: both;
        text-transform: uppercase;
        font: 16px/20px 'helvetica_lightregular';  
    }
    /* WorkNY */
    .work .simple-list {
        float: left;
        padding-top: 4px;
        margin: 0;
        border-top:2px dotted #231f20;    
    }
    .work .simple-list li {
        float: left;
        padding: 0; 
        border: none;  
    }
    .work .simple-list li.by-media,
    .work .featured-prev-next {
        display: none;   
    }
    .work.indport-piece .featured-prev-next,
    .work.individual-campaign .featured-prev-next {
        display: block;   
    }
    .work .connected-items-holder {
        float: left;   
        padding: 0 10px;
    }
    .work .simple-list .connected-items h3 {
        /*height: 34px;*/
        overflow: hidden;
        font: 100 20px/18px "proxima-nova",sans-serif;  
    }
    .work .simple-list .connected-items .list {
        padding: 0;
    }
    .work .tab-titles {
        margin: 0   
    }
    .work .dropdown-menu,
    .news-landing .dropdown-menu {
        float: right;
        top: 3px;
        right: 0;
        width: 100%;
        margin: 0 0 9px 0;
    }
    .news-landing .dropdown-menu {
        right: 0;
    }
    .work .dropdown-menu li,
    .news-landing .dropdown-menu li {
        float: right; 
        padding: 0;    
    }
    .work .dropdown-submenu,
    .news-landing .dropdown-submenu {
        top: 23px; 
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; 
    }
    .work .dropdown-submenu li,
    .news-landing .dropdown-submenu li {
        width: 100%;
    }
    .work.individual-campaign .title {
        margin-top: 9px;
    }
    /* News Landing */
    .news-landing .list {
        margin-top: 10px;   
    }
    .news-landing .list h3 a {
        text-decoration: none;
    }
    .news-landing .simple-list li.all-news h2 {
        display: none;
    }
    .news-landing .simple-list li.featured-news {
        height: 226px;
        padding: 0;   
    }
    .news-landing .featured-prev-next li {
        background: url(../images/sprite.png) no-repeat -40px -39px;
        top: 6px;
    }
    .news-landing .featured-prev-next li.next {
        background-position: 0 -39px;
    }
    .news-landing .featured-news-slider li > img { 
        width: 100%!important;
        height: auto!important;
    }
    .simple-list li.worldwide {
        display: none;
    }
    /* People Listview mobile */
    .pt-page-1 {
        display: none;
    }
    .mobile-listview {
        display: block;
        float: left;	
        margin: 0;
        width:	100%;
        background: none;
        border-top: 2px dotted #000;
    }
    .mobile-listview .dropdown-menu {
        margin: 10px 0 0 0;
    }
    .mobile-listview .dropdown-menu .headlink .dropdown-title {
        background-position: 180px -191px;
    }
    .mobile-listview .dropdown-menu .headlink .shown {
        background-position: 180px -126px;	
    }
    .mobile-listview li.everyone {
        background: none;	
    }
    .mobile-listview li.leadership {
        background: none;	
    }
    .simple-list > li.leadership {
        display: none;	
    }
    .people #main .featured-prev-next li a {
        display: none;
    }
    .people #main .title {
        display: block;
        position: relative;
        top: 70px;	
    }
    .people #main .tab-titles {
        margin-bottom: 0;	
    }
    .people-names-list {
        float: left;
        width: 100%;
        list-style-type: none;
        padding: 0;
        margin: 46px 0 0 0;
    }
    .people-names-list li {
        padding: 6px 0 5px 35px;
        border-bottom: 1px solid #dcddde;
    }
    .people-names-list li a {
        text-decoration: none;	
    }
    .people-names-list li p {
        margin: 0;
        font: 18px Arial, Helvetica, sans-serif;
    }
    .people-names-list li em {
        font: 16px Arial, Helvetica, sans-serif;
        font-style: italic;
        color: #878787;
    }
    .people #main {
        margin: -15px 0 0 0;
        padding: 0!important;	
    }
    .sub-page.people-ind #main {
        margin-top: 0;
    }
    .people-names-list li .highlighted {
        color: #005682;
    }
    .people .wrapper-holder {
        height: auto!important;
        background: none;
    }
    everyone ul.peoples li a.photo .border:hover,
    .leadership .people .photo .border:hover, 
    .everyone ul.peoples li a.photo .border:hover:after,
    .leadership .people .photo .border:hover:after  {
        display: none;
    }
    /* People Individual mobile */
    .people-ind .simple-list > li.everyone {
        display: none;
    }
    .people-ind .pt-page-1,
    .language-list-mobile {
        display: block;
    }
    .language-list-mobile a.full-width {
        width: 100%;   
    }
    .people-ind .pt-page-2 {
        display: none;	
    }
    .people-ind .pt-page {
        background: none;
        visibility: visible;
    }
    .individual-mobile {
        background: none;
    }
    .people-ind .simple-list > li.individual {
        background: none;
    }
    .people-ind .simple-list {
        margin: 0;
    }
    .individual-mobile .featured-prev-next {
        top: 0;
        margin: 0;
        background: #094165;
    }
    .people-ind-slider-wrap {
        margin-top: 41px;	
    }
    .individual .people-individual-page .main {
        width: 100%;	
    }
    .individual div.border {
        width: 95%;
        margin: 10px auto 0 auto;
        padding: 5px;
    }   
    .individual .people-individual-page.main div.border img{
        max-width:none;
    }
    .individual .people-individual-page .additional h4,
    .individual .people-individual-page .additional h3,
    .individual .people-individual-page .additional h5 {
        display: none;      
    } 
    .individual .people-individual-page .main h4 {
        display: block;
        margin: 16px 0 5px;
        color: #231f20;
        font: 600 16px/23px "proxima-nova", Arial, Helvetica, Verdana, sans-serif; 	   
    }
    .individual .people-individual-page .main h3 {
        display: block;
        margin: 0 0 5px;
        color: #094165;
        font: 700 21px/23px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
        text-align: center;
        text-transform: uppercase; 
    }
    .individual .people-individual-page .main h5 {
        display: block;
        margin: 0;
        color: #094165;
        font: 600 16px/19px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
        text-transform: uppercase;	      
    }
    .individual .people-individual-page .main h5 span {
        border-left: 1px solid #231F20;
        font: 400 16px/19px "proxima-nova",Arial,Helvetica,Verdana,sans-serif;
        margin-left: 15px;
        padding-left: 15px;
    }
    .individual .people-individual-page .main ul {
        float: left;
        border-bottom: 1px dotted #231F20;
        border-top: 1px dotted #231F20;
        margin-top: 22px;
        padding: 15px;
    }
    .individual .people-individual-page .main ul li {
        margin: 0 10px 0 0;
    }
    .individual .people-individual-page .main ul li:first-child {
        margin: 0;
    }
    .address-field {
        width: 100%;
        text-align: right;	
        padding: 0;
    }
    .individual .people-individual-page .main ul li span {
        font: 400 14px/19px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
    }
    .individual .people-individual-page .main ul li h5,
    .individual .people-individual-page .main ul li h6 {
        margin: 2px 0 0 10px;
    }
    #wrapper #main {
        padding: 0;	
    }
    .individual .people-individual-page .main ul li {
        font: 400 14px/21px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
    }
    .individual .people-individual-page .additional {
        float: left;
        width: 100%;
        text-align: left;
        padding: 15px 0;
    }
    .individual .people-individual-page .additional p{
        padding: 0 10px;
    }
    .individual-mobile .featured-prev-next .prev {
        background: url(../images/sprite.png) repeat scroll -40px -39px;
        z-index: 800;	
    }
    .individual-mobile .featured-prev-next .next {
        background: url(../images/sprite.png) repeat scroll -0 -39px;	
    }
    .people-ind .featured-prev-next .mobile-carousel-msg {
        margin: 0;
        padding-bottom: 4px;
        background: #005581;
    }
    .people-ind .featured-prev-next .mobile-carousel-msg span {
        font: 400 normal 30px/42px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
        text-transform: uppercase;
        margin: 2px 0 0 0;
        letter-spacing: 2px;
    }
    .individual .additional ul.social {
        overflow: hidden;
        width: 192px;
        margin: 0 0 0 10px;
        padding: 0 0 50px;
    }
    .phone-numbers-mobile {
        display: block;
        float: left;
        width: 100%;
        padding: 13px 0 30px 10px;
        list-style-type:none;
    }
    .phone-numbers-mobile li {
        font: 400 normal 14px/22px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
    }
    .phone-numbers-mobile li span {
        padding: 0 10px 0 0;
    }
    .sub-menu {
        display: none!important;	
    }
    .visual .scroll-hint {
        display: none;	
    }
    #nav ul.language-list { 
        display: none;	
    }
    .language-list-mobile a {
        width: 50%;
        float: left;	
    }
    .simple-list .gallery h3,
    .simple-list p {
        float:left;	
    }
    .simple-list .people-names-list p {
        float: none;
    }
    .featured-prev-next li {
        background: url(../images/sprite.png) -40px -39px;
    }
    .work-individual-media .featured-prev-next li,
    .news-article .featured-prev-next li {
        top: 2px;
    }
    .featured-prev-next li.next,
    .news-article .featured-prev-next li.next,
    .news-article .featured-prev-next li.next:hover {
        background-position: 0 -39px;
    }
    .sub-page #main {
        margin-top: 73px;	
    }
    .news-landing #main {
        margin-top: 0;	
    }
    .gallery .btn-next {
        right: -5px;	
    }
    .gallery .btn-prev {
        left: -4px;	
    }
    .simple-list .gallery .alignright {
        margin: 0 auto 20px;	
    }
    .simple-list .values-slider {
        padding: 0;	
    }
    .pt-page-2 {
        display: none;   
    }
    .sub-page.people #main {
        margin-top: 0;    	   
    }
    .work-individual-media {
        width: 100%;   
    }
    .work-slider-wrapper {
        width: 100%;
        padding: 0!important; 
    }
    .work-slider-wrapper a {
        background: #e7e8e9;
    }
    .work-slider-wrapper .video-holder,
    .work-slider-wrapper .flash-holder {
        width: 100%;
        height: 100%;
        background: #000;  
    }
    .work-slider-wrapper iframe,
    .work-slider-wrapper .flash-content {
        width: auto;
        height: 100%;
    }
