/* People */
.simple-list > li.leadership {
    padding: 0;
    background: #f1f1f2;  
}
.leadership h2,
.everyone h2 {
    min-height: 0!important;
    margin: 0 0 10px;   
}

.leadership .main-holder {
    max-width: 900px;
    padding: 20px 35px 58px;
}
.leadership .by-office-place-wrap {
    float: left; 
    margin: 47px 0 15px 0;
    border-right: 2px dotted #ACADB0;  
}
.leadership .by-office-place-wrap h3 {
    margin: -47px 0 17px;
    background: #231f20;
    color: #fff;
    text-align: center;
    font: 600 12px/27px "proxima-nova", Arial, Helvetica, Verdana, sans-serif; 	     
}
.leadership ul.by-office-place {
    float: left;
}
.leadership ul.by-office-place li {
    float: left;
    padding-bottom: 20px;
    list-style-type: none;   
}
.leadership ul.by-office-place li div.border {
    position: relative;
    width: 88px;
    max-width: 88px;
    height: 88px;
    padding:3px;
}
.leadership.by-office-place-wrap.first ul.by-office-place {
    margin-right: 8px;
}
.leadership .by-office-place-wrap.last ul.by-office-place {
    padding-right: 0;
    border: 0;
}
.leadership .by-office-place-wrap.last {
    margin-right: 0!important;   
}
.leadership .by-office-place-wrap.last h3 {
    margin-right: 0;   
}
.leadership .by-office-place-wrap.big {
    width: 24%;
    margin-right: 15px;
}
.leadership .by-office-place-wrap.big h3 {
    margin-right: 15px;   
}
.leadership .by-office-place-wrap.first h3 {
    margin-right: 15px;   
}
.leadership .by-office-place-wrap.big ul.by-office-place {
    width: 100%;
    padding: 0 15px 0 0;   
}
.leadership .by-office-place-wrap.big ul.by-office-place li {
    width: 46%;
    padding-right: 4%;   
}
.leadership .by-office-place-wrap.small {
    width: 15%;
    margin-right: 10px;
}
.leadership .by-office-place-wrap.small h3 {
    margin-left: -5px;
    margin-right: 5px;   
}
.leadership .by-office-place-wrap.small ul.by-office-place {
    width: 100%;
    padding: 0;   
}
.leadership .by-office-place-wrap.small ul.by-office-place li {
    float: none;
    width: 80%;
    padding-right: 10%;
    margin: 0 auto;    
}
.leadership .people span {
    display: block;
    margin: 1px 0;
    color: #231f20;
}
.leadership .people .job {
    font: 300 12px "proxima-nova", Arial, Helvetica, Verdana, sans-serif; 	   
}
.leadership .people .name {
    font: 700 12px "proxima-nova", Arial, Helvetica, Verdana, sans-serif; 	   
}
.simple-list > li.everyone {
    position: relative;
    padding: 0; 
    width:100%;
    max-width:1010px;
    margin:0 auto;
    /* background: url(../images/gray-gradient-background.png) repeat 50% 0; */
}
.everyone .main-holder {
    position: relative;
    max-width: 1010px;
    max-width: none;
    padding: 20px 25px 0;   
}
.everyone .people-sldier-wrap {
    width: 100%;
    height: 640px;
}
.everyone .people-sldier-wrap .anythingSlider {
    padding: 0;   
}
.everyone .people-sldier-wrap .anythingWindow {
    border: 0;   
}
.everyone .featured-prev-next {
    top: 50%;
    left: 0;
    width: 100%;
    max-width: 1000px;
    min-height: 0!important;
}
.everyone ul.peoples {
    padding: 0;   
}
.everyone ul.peoples li {
    float: left;
    width: 20%;
    height: 215px;
    list-style-type: none;   
}
everyone ul.peoples li a.photo .border:hover img,
.leadership .people .photo .border:hover img {
    display: none;
}
.everyone ul.peoples li a.photo .border:hover:after,
#leadership ul.peoples li a.photo .border:hover:after {
    display: block;
    position: absolute;
    overflow: hidden;
    top: 5px;
    left: 5px;
    width: 130px;
    height: 130px;
    background-color: #005581;
    color: #fff;
    font: bold 24px/130px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
    opacity:0.9;
}
.everyone ul.peoples li a.photo .border:hover:after{
    content: "CONTACT";
}
#leadership ul.peoples li a.photo .border:hover:after{
    content: "BIO";
}

.leadership .people .photo .border:hover:after {
    top: 3px;
    left: 3px;
    width: 88px;
    height: 88px;
}
/*
.everyone ul.peoples li a.photo .border:hover:after,
.leadership .people .photo .border:hover:after {
    display: block;
    position: absolute;
    overflow: hidden;
    top: 5px;
    left: 5px;
    width: 130px;
    height: 130px;
    content: "BIO";
    background-color: #005581;
    color: #fff;
    font: bold 24px/130px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
    border-radius: 100% 100% 100% 100%;
}
.leadership .people .photo .border:hover:after {
    top: 3px;
    left: 3px;
    width: 88px;
    height: 88px;
    line-height: 88px;
}
*/
.everyone ul.peoples li div.border {
    position: relative;
    width: 130px;
    height: 131px;
    padding: 5px;
    /*
    border: 1px solid #3d3c3e;
    border-radius: 208px 208px 208px 208px;
    */
}
.everyone .people {
    width: 100%;
    margin-bottom: 18px;
    text-align: center;   
}
.leadership .people {
    width: 100%;
    text-align: center;   
}
.everyone .people span {
    display: block;
    margin: 2px 0;
    color: #000;
}
.everyone .people .photo {
    display: inline-block;   
}
.leadership .people .photo {
    display: block;   
}
.everyone .people .job {
    font: 400 14px "proxima-nova", Arial, Helvetica, Verdana, sans-serif; 	   
}
.everyone .people .name {
    font: 700 14px "proxima-nova", Arial, Helvetica, Verdana, sans-serif; 	   
}
.simple-list > li.individual {
    position: relative;
    padding: 0; 
    background: #f1f1f2;  
}
.individual .main-holder {
    overflow: hidden;
    position: relative;
    max-width: 812px;
    padding: 57px 70px 32px 98px;   
}
.individual div.border {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    /*
    border: 1px solid #3d3c3e;
    border-radius: 208px 208px 208px 208px;
    */
}
.people-ind-slider-wrap {
    width: 100%;
}
.people-ind-slider-wrap .anythingSlider-default {
    padding: 0;
}
.people-ind-slider-wrap .anythingSlider-default .anythingWindow {
    border: none;
}
.individual .people-individual-page{
    width:100%;
    padding-top:25px;
}
.individual .people-individual-page .main {
    float: left;
    width: 39.5%;
    padding-right: 0%;
    text-align: center;   
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    padding-left:10px;
}
.individual .people-individual-page .main .photo img{
    width:100%;
    height:auto;
    max-width:400px;
    margin:0 auto;
}
.individual .people-individual-page .main h4,
.individual .people-individual-page .main h3,
.individual .people-individual-page .main h5 {
    display: none; 
}
.individual .people-individual-page .additional{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    padding-right:10px;
}
.individual .people-individual-page .additional h4 {
    margin-bottom: 15px;
    color: #231f20;
    font: 600 21px/25px "proxima-nova", Arial, Helvetica, Verdana, sans-serif; 	   
}
.individual .people-individual-page .additional h3 {
    margin: 0 0 15px;
    color: #094165;
    font: 700 30px/25px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
    text-transform: uppercase; 
}
.individual .people-individual-page ul.details{
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
    margin-top: 30px;
    border-top: 2px dotted #231F20;
    border-bottom: 2px dotted #231F20;
    list-style-type: none;
    text-align: left;
}
.individual .people-individual-page .main ul li {
    float: left;
    width: 100%;
    font: 400 12px/19px "proxima-nova", Arial, Helvetica, Verdana, sans-serif; 	      
}
.individual .people-individual-page .additional h5 {
    border-bottom: 2px dotted #231F20;
    padding: 0 0 20px;
    margin: 0 0 20px;
    color: #094165;
    font: 600 17px/19px "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
    text-transform: uppercase;	      
}
.individual .people-individual-page .additional h5 span {
    border-left: 1px solid #231F20;
    padding-left: 15px;
    margin-left: 15px;
    font: 400 17px/19px "proxima-nova", Arial, Helvetica, Verdana, sans-serif; 	      
}
.individual .people-individual-page .main ul .office-title {
    display: none;
}
.individual .people-individual-page .main ul li h6 {
    margin: 0 0 10px;
    color: #094165;
    font: 500 14px/19px "proxima-nova", Arial, Helvetica, Verdana, sans-serif; 	      
}
.individual .people-individual-page .additional {
    float: right;
    width: 58%;   
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    padding-left:10px;
}
.individual .people-individual-page .additional p {
    color: #58595b;
    font: 15px/21px 'helvetica_lightregular';   
}
.individual .additional ul.social {
    float: left;
    clear: both;
    padding: 0;
    margin: 15px 0 0;   
}
.individual .people-individual-page .main ul.author-featured-articles{
	margin-top: 0;
	border: none;
}
ul.author-featured-articles a{
	text-decoration: none;
	display: block;
	width: 100%;
	height: 57px;
	position: relative;
}
ul.author-featured-articles a > img{
	float: left;
	margin-right: 15px;
}
ul.author-featured-articles li{
	padding: 10px;
	width: 341px !important;
	border: 2px solid rgba(0,0,0,0);
	clear: both;
	position: relative;
}
ul.author-featured-articles li:not(:last-child):hover{
	border: 2px solid #D3D1D1;
}
ul.author-featured-articles header{
	text-transform: uppercase;
	line-height: 15px;
	position: relative;
	top: -3px;
	max-height: 57px;
	overflow: hidden;
}
ul.author-featured-articles .author-featured-info{
	position: relative;
	top: -3px;
}
ul.author-featured-articles .author-featured-info time{
	float: left;
	margin-right: 10px;
}
ul.author-featured-articles .author-featured-info img{
	padding-top: 4px;
}
ul.author-featured-articles .more-by-me{
	height: 35px;
}
ul.author-featured-articles .more-by-me a {
    float: left;
    width: 100%;
    vertical-align: middle;
    font: 400 15px "proxima-nova",sans-serif;
    text-decoration: none;
	height: 40px;
	position: relative;
	top: -5px;
}
ul.author-featured-articles .more-by-me a p {
    float: left;
    margin: 10px 15px 10px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}
ul.author-featured-articles .more-by-me a span {
    float: left;
    width: 40px;
    height: 40px;
    background: url('../images/sprite.png') no-repeat scroll 0 -120px transparent;
}
ul.author-featured-articles .more-by-me a:hover span {
    background-position: 0px -40px;
}

.individual .featured-prev-next {
    top: 380px;
    max-width: 1000px;
    min-height: 0!important;
    margin-left: -98px;
}
.phone-numbers-mobile {
    display: none;
}
.phone-numbers span {
    display: block;	
}

.shroud,.overlay{
    position:fixed;
    top:0px;
}
.shroud{
    z-index:100;
    left:0px;
    width:100%;
    height:100%;
    -webkit-transition: top 0.3s ease,opacity 0.3s ease;
    -moz-transition: top 0.3s ease,opacity 0.3s ease;
    -ms-transition: top 0.3s ease,opacity 0.3s ease;
    -o-transition: top 0.3s ease,opacity 0.3s ease;
    transition: top 0.3s ease,opacity 0.3s ease;
    background-color:#000;
    opacity:0.5;
}
.overlay{
    z-index:150;
    left:0%;
    top:70px;
    width:100%;
    height:auto;
    -webkit-transition: top 0.3s ease;
    -moz-transition: top 0.3s ease;
    -ms-transition: top 0.3s ease;
    -o-transition: top 0.3s ease;
    transition: top 0.3s ease;

    width:70%;
    left:50%;
    margin-left:-35%;
}
.off{
    top:-150%;
}
.overlay .relpos{
    position:relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    padding:0 10px;
}
.overlay .relpos .closer{
    position:absolute;
    z-index:20000;
    top:5px;
    right:15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    color:#fff;
    border:1px solid #000;
    background-color:#7f7f7f;
    border-radius: 100% 100% 100% 100%;
    text-decoration:none;
    font: 700 1.2em/1.2em "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
    width:30px;
    height:30px;
    text-align:center;
    line-height:30px;
}
.overlay .relpos .bioContent,
.overlay .relpos .cContent{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    padding:20px;
    background-color:#fff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);

}
.overlay .photo img{
    width:100%;
    max-width:400px;
    margin:0 auto;
    height:auto;
}
.individual .people-individual-page .additional p{
    margin:0 0 10px 0;
}
.scrollOuter{
    position:relative;
    padding:20px 0;
}
.scrollOuter .arrows{
    display:none;
}
.scrolling .arrows{
    display:block;
    position:absolute;
    left:50%;
    margin-left:-10px;
    width:20px;
    height:20px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    color:#fff;
    background-color:#7f7f7f;
    border-radius: 100% 100% 100% 100%;
    text-decoration:none;
    font: 700 1.2em/1.2em "proxima-nova", Arial, Helvetica, Verdana, sans-serif;
    text-align:center;
    line-height:20px;
}
.scrolling .up{
    top:-5px;
}
.scrolling .down{
    bottom:-5px;
}
.individual .people-individual-page .main ul.details{
    float:left;
}
.individual .people-individual-page .main ul.social{
    margin:0 0 10px 0;
    padding:0;
    border-top:none;
}
.individual .people-individual-page ul.social li{ 
    float:left;
    list-style: none; 
    margin-right: 10px;
    padding:0 0 8px;
}
.individual .people-individual-page ul.social li a{ 
    display:block; 
    text-decoration: none;
    position:relative;
    color: #000;
    width:auto;
    height:auto;
    background:#fff;
    border:0;
    /*
    width: 34px; 
    height:34px;
    background:  #C1C2C4; 
    border: 2px solid #A7A9AC;
    -moz-border-radius:30px ;
    -webkit-border-radius:30px ;
    border-radius:30px;
    */
}
.individual .people-individual-page ul.social li a:hover{ 
    background:#fff;
    border:0;
    /*
    background: #A7A9AC; 
    border: 2px solid #C1C2C4;
    */
}
.individual .people-individual-page ul.social li a span{ 
    display: inline-block;
    text-indent: -9999px;
}

.icon-twitter, .icon-pinterest, .icon-linkedin, .icon-facebook, .icon-weibo, .icon-renren {
    display:block;
    position: relative;
    font-family: 'thegateicons';
    speak: none;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 2;
    -webkit-font-smoothing: antialiased;
    text-indent: 0 !important;
    color:#231F20;
}

.individual .people-individual-page .icon-twitter:before, 
.individual .people-individual-page .icon-pinterest:before,
.individual .people-individual-page .icon-facebook:before,
.individual .people-individual-page .icon-linkedin:before,
.individual .people-individual-page .icon-weibo:before,
.individual .people-individual-page .icon-renren:before{
    width: 16px;
    margin: 8px 8px;
    font-size:18px;
}
br.cb{
    clear:both;
}
.scrollWindow{
    max-height:400px;
    overflow:auto;
    overflow-y:auto;
}
