/*
Theme Name: londonhold
Theme URI: -
Description: -
Version: 1.0
Author: -
Author URI: -
Tags: custom
Last updated: 17:51; PM 9/08/2015
*/

/* HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 17, styles.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 21, styles.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 32, styles.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 37, styles.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 46, styles.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 63, styles.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 71, styles.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 81, styles.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
/* line 89, styles.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #777777;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Remove dotted borders on links
   ========================================================================== */
/* line 107, styles.scss */
:active {
  outline: none;
}

/* line 111, styles.scss */
:focus {
  -moz-outline-style: none;
}

/* You Will See This: */
/* line 118, styles.scss */
:-moz-any-link:focus {
  outline: 1px dotted invert;
}

/* Change It To This: */
/* line 124, styles.scss */
:-moz-any-link:focus {
  outline: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 143, styles.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 151, styles.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 162, styles.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 171, styles.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 188, styles.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 201, styles.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 218, styles.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 223, styles.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 232, styles.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 259, styles.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 267, styles.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 271, styles.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 275, styles.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 285, styles.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 290, styles.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 295, styles.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 300, styles.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 304, styles.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 314, styles.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 320, styles.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*
labello #careforthemoment
April 2016
*/
/* line 378, styles.scss */
body {
  background-color: #000;
  color: #fff;
}

@font-face {
  font-family: 'texgyreherosregular';
  src: url("assets/font/texgyreheros-regular-webfont.eot");
  src: url("assets/font/texgyreheros-regular-webfont.eot?#iefix") format("embedded-opentype"), url("assets/font/texgyreheros-regular-webfont.woff") format("woff"), url("assets/font/texgyreheros-regular-webfont.ttf") format("truetype"), url("assets/font/texgyreheros-regular-webfont.svg#texgyreherosregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'texgyreherositalic';
  src: url("assets/font/texgyreheros-italic-webfont.eot");
  src: url("assets/font/texgyreheros-italic-webfont.eot?#iefix") format("embedded-opentype"), url("assets/font/texgyreheros-italic-webfont.woff") format("woff"), url("assets/font/texgyreheros-italic-webfont.ttf") format("truetype"), url("assets/font/texgyreheros-italic-webfont.svg#texgyreherositalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'texgyreherosbold_italic';
  src: url("assets/font/texgyreheros-bolditalic-webfont.eot");
  src: url("assets/font/texgyreheros-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("assets/font/texgyreheros-bolditalic-webfont.woff") format("woff"), url("assets/font/texgyreheros-bolditalic-webfont.ttf") format("truetype"), url("assets/font/texgyreheros-bolditalic-webfont.svg#texgyreherosbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'texgyreherosbold';
  src: url("assets/font/texgyreheros-bold-webfont.eot");
  src: url("assets/font/texgyreheros-bold-webfont.eot?#iefix") format("embedded-opentype"), url("assets/font/texgyreheros-bold-webfont.woff") format("woff"), url("assets/font/texgyreheros-bold-webfont.ttf") format("truetype"), url("assets/font/texgyreheros-bold-webfont.svg#texgyreherosbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 433, styles.scss */
html, body {
  width: 100%;
  height: 100vh;
  overflow: visible;
}

/* line 439, styles.scss */
.page {
  background-color: #000;
  /* opacity: 0; */
  font-family: texgyreherosregular;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
/* line 448, styles.scss */
.page a {
  color: #fff;
  text-decoration: none;
}
/* line 449, styles.scss */
.page .video {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.ios .page{background-image:url('assets/img/tunnel.jpg');background-attachment:fixed;background-position:center top;background-size:cover;}
.ios .page .video {display:none;}

/* line 457, styles.scss */
.page .video .clipper video {
  width: 100%;
  height: auto;
  overflow: hidden;
}
@media screen and (max-aspect-ratio: 1920 / 1080) {
  /* line 465, styles.scss */
  .page .video .clipper {
    position: relative;
  }
  /* line 467, styles.scss */
  .page .video .clipper video {
    position: absolute;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
  }
}
/* line 479, styles.scss */
.page .msq {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
}
/* line 486, styles.scss */
.page .sites {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 10px;
}
/* line 491, styles.scss */
.page .sites a {
  font-size: 11px;
  padding: 0 10px;
  display: inline-block;
  box-sizing: border-box;
}
/* line 498, styles.scss */
.page .core {
  position: relative;
  z-index: 2;
  padding-top: 100px;
  width: 50%;
  width: 100%;
  padding-bottom: 100px;
  text-align: center;
}
/* line 509, styles.scss */
.page .core h1, .page .core h2, .page .core h3, .page .core a, .page .core p {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}
/* line 510, styles.scss */
.page .core h1 {
  font-size: 18px;
  margin: 55px 0;
}
/* line 511, styles.scss */
.page .core h2 {
  width: 320px;
  font-size: 16px;
  position: relative;
  margin-bottom: 12px;
}
/* line 516, styles.scss */
.page .core h2 span {
  position: absolute;
  top: 50%;
  display: block;
  height: 1px;
  background-color: #fff;
  width: 30%;
}
/* line 517, styles.scss */
.page .core h2 span.l {
  left: 0;
}
/* line 518, styles.scss */
.page .core h2 span.r {
  right: 0;
}
/* line 527, styles.scss */
.page .core h3 {
  font-size: 15px;
}
/* line 528, styles.scss */
.page .core p {
  font-size: 25px;
}
/* line 529, styles.scss */
.page .core hr {
  width: 320px;
  margin: 8px auto 16px auto;
}
@media screen and (max-width: 480px) {
  /* line 533, styles.scss */
  .page .msq {
    left: 50%;
    margin-left: -29px;
    top: 45px;
  }
  /* line 538, styles.scss */
  .page .sites {
    right: 0;
    width: 100%;
  }
  /* line 541, styles.scss */
  .page .sites a {
    width: 25%;
    padding: 0;
    text-align: center;
  }
  /* line 548, styles.scss */
  .page .core h1 {
    font-size: 14px;
  }
  /* line 549, styles.scss */
  .page .core h2, .page .core h3, .page .core p {
    font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  /* line 555, styles.scss */
  .page .core img {
    width: 75%;
    margin: 0 auto;
  }
}
