/**
 * Admin panel stylesheet
 */

.column-thumb
{
    width: 90px;
}

.column-trip_code
{
    width: 60px;
}

td.column-trip_code
{
    font-weight: bold;
}

.mceIframeContainer
{
    background: #FFF;
}

.date_from, .date_to
{
    background: url('../images/admin/datepicker.png') right center no-repeat;
    cursor: pointer;
}

body #header-logo
{
    background: url('../images/admin/logo.png') left top no-repeat;
    width: 274px;
    height: 66px;
}

#site-title
{
    text-indent: -9999px;
    display:block;
}

.checkbox_label
{
    display: block;
    margin-top: 5px;
}

th#thumbnail
{
    width: 100px;
}

.inside textarea, .video textarea
{
    width: 100%;
}
.video-embedcode span, .video-embedcode span
{
    color: #999;
}
.sites-share
{
    margin-bottom: 5px;
}
.sites-share select
{
    width: 20%;
}
.video-id input
{
    width: 99%;
    margin-bottom: 3px;
}
.video-id textarea
{
    background-color: #EEE;
}
.video-id
{
    margin-bottom: 7px;
}

.references_categories
{
    width: 22.5%;
    float: left;
    margin: 1% 1%;
}
.experience.references_categories
{
    width: 47%;
}
.experience .misc-pub-section table,
.experience .misc-pub-section input,
.file-details table td .file-message
{
    width: 100%;
}

.contact_field
{
    width: 17%;
    float: left;
    border: 1px solid #DFDFDF !important;
    margin: 0.5%;
}

.the-gate-gallery-thumbs li {
    margin: 4px;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    background: #eee;
    padding: 5px;
    border: 1px solid #DFDFDF;
    width: 109px;
    height: 109px;
}
.the-gate-gallery-thumbs li img {
    cursor: move;
    width: 109px;
    height: 109px;
    padding: 0;
    margin: 0;
}
.the-gate-gallery-thumbs li .the-gate-gallery-remove {
    display: block;
    text-indent: -9999px;
    outline: 0;
    background: url(../images/admin/delete_thumb.png) no-repeat 0 0;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -4px;
    right: -4px;
}
.wpsimplegallery_placeholder {
    border: 1px dashed #ccc !important
}
.ui-sortable-helper {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.the-gate-gallery-container .clearfix:before,
.the-gate-gallery-container .clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.the-gate-gallery-container .clearfix:after {
    clear: both
}
.the-gate-gallery-container .clearfix {
    zoom: 1
}
.delete-landing-page-entry {
    float: right;
}
.landing-page-entry-post,
.landing-page-entry-category {
    max-width: 33%;
}
.swf-details .inside table
{
    width: 100%;
}
.swf-details .inside table th
{
    width: 8%;
}
.swf-details .inside table td input
{
    width: 100%;
}
/*.postbox .landing-post
{
    width: 270px;
    padding: 10px;
    margin: 10px;
    float: left;
}
.landing-post-img
{
    margin: 0 auto;
    padding: 10px;
}*/