/* styles for custom fields/metaboxes in admin interface */

br.cb{clear:both;float:none;display:block;}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.customField{margin:0 0 20px 0;}
.customField label,
.customField input[type=text],
.customField textarea{display:block;width:100%;}
.customField label{margin-bottom:4px;}
.longtext,
.mediumtext,
.shorttext{display:block;}
.longtext input{width:100%;}
.mediumtext input{width:50%;}
.imageThumbnail{display:block;width:256px;}
a.action{text-decoration:none;display:block;margin:4px 0;}
a.action:hover{}
a.action:before {
   content: "> ";
}
.checkbox input,
.checkbox label{display:inline-block;width:auto;}

.splitFieldWrapper{width:80%;}
.splitField{
	display:inline-block;
	width:50%;
	float:left;
	box-sizing: border-box;
	padding-right:10px;
}
.splitField input[type=text]{
	width:100%;
}

.multiFieldBox{
	padding:10px;
	margin:0 0 10px 0;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.multiFieldWrapper p.head,
.itemSorter p.head{font-weight:bold;font-size:1.3em;}

.listPortrait{width:100px;height:auto;}
.listOfficeMap{width:100%;height:auto;}

/* admin 'office' list view column width */
.column-office_map{width:120px;}
.column-office_address{width:120px;}
.column-office_email{width:25%;}
.column-office_phone{width:15%;}

/* admin 'award' list view column width */
.column-award_image{width:80px;}
.column-award_image img{width:100%;height:auto};
.column-award_year{width:80px;}
.column-award_award{}
.column-award_catgeory{}

.businessMeta{}
.businessProduct1Meta{}
.businessProduct2Meta{}

.individualMeta{}
.individualProduct1Meta{}
.individualProduct2Meta{}

p.imagepath{display:none;}

.itemSorter{}
.itemSorter ul{
	list-style-type:none;
	padding:10px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	width:100%;
	margin:0 0 10px 0;
	box-sizing: border-box;
}
.itemSorter ul li{
	padding:10px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	width:100%;
	margin:0 0 10px 0;
	box-sizing: border-box;
	background-color:#fff;
}
.itemSorter ul > li.dummy.hidden{
	display:none;
}

.ui-sortable-helper{cursor:move;}
.officeSorter{}
.officeSorter .map{float:left;width:100px;margin-right:10px;}
.officeSorter .map img{width:100%;height:auto;}
.officeSorter h3{margin:0;padding:0;}

.workItemSorter .thumbnail{float:left;width:120px;margin-right:10px;}
.workItemSorter .thumbnail img{width:100%;height:auto;}
.workItemSorter h3{margin:0;padding:0;}

.pplSorter{}
.pplSorter ul{}
.pplSorter ul li{display:inline-block;float:left;width:23%;margin:0px 1% 10px 1%;padding:5px 5px;box-shadow:none;box-sizing: border-box;background-color:#808080;}
.pplSorter .portrait{float:left;width:100%;height:auto;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);position:relative;overflow:hidden;padding-top:120%;}
.pplSorter .portrait img{width:100%;height:auto;display:block;position:absolute;left:0;top:0;}
.pplSorter h3,
.pplSorter h4,
.pplSorter h5{margin:0;padding:0;display:none;}

.multiImageChooser .td label,
.multiImageChooser .td input{display:block;float:left;width:12.5%;}
.itemChooser .template,
.multiImageChooser .template{display:none;}
.item{border-width:10px 1px 1px 1px;border-style:solid;border-color:#dddddd;padding:10px;box-sizing: border-box;margin:0 0 10px 0;width:100%;background-color:#fff;}
.item .customField{margin-bottom:0;}
.item label{padding-left:100px;position:relative;box-sizing: border-box;width:50%;}
.item label span,
.item label input{display:inline-block;}
.item label span{position:absolute;left:0;top:0;}
.item label input{}
.item .sizer{padding-right:120px;clear:none;position:relative;}
.item .removeItem{display:inline-block;position:absolute;right:0;top:0;background-color:#dddddd;color:#000;padding:7px 14px;border:2px solid #dddddd;margin:5px 0;display:inline-block;font-weight:bold;text-decoration:none;}
.item .picker{width:100px;min-height:100px;background-color:#dddddd;display:inline-block;background-image:url('img/addimage.png');background-repeat:no-repeat;background-position:center;background-size:cover;border:2px solid #dddddd;}
.item .picker:before{content:'';}
.item .imageThumbnail{width:100%;height:auto;display:block;}
.itemChooser .addItem,
.multiImageChooser .addItem{background-color:#dddddd;color:#000;padding:7px 14px;border:2px solid #dddddd;margin:5px 0;display:inline-block;font-weight:bold;text-decoration:none;}
.item .removeItem:hover,
.multiImageChooser .addItem:hover{background-color:#000;color:#ddd;}

.multiImageChooser .item .picker{width:256px;padding-top:144px;min-height:inherit;position:relative;overflow:hidden;}
.multiImageChooser .item .picker img{position:absolute;left:0;top:0;width:100%;height:auto;}
.multiImageChooser .item label{width:95%;padding-left:140px;}
.multiImageChooser .item label input{max-width:300px;}

.clientLogoItems .item .picker{width:160px;}

.multiImages{}
.multiImage{
    float:left;
    width:300px;
}
