article.mailform{
	position:fixed;
	top:-100%;
	top:-250%;
	width:100%;
	max-width:1346px;
	z-index:100;
	box-sizing: border-box;
	padding:40px;
	-webkit-transition: top 0.3s ease;
	-moz-transition: top 0.3s ease;
	-ms-transition: top 0.3s ease;
	-o-transition: top 0.3s ease;
	transition: top 0.3s ease;
}
article.mailform.open{
	top:0%;
}
article.mailform > div{
	background-color:#fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	padding:32px;
}
article.mailform header h2{
	margin:0 0 32px 0;
	font-size:3.8em;
}
@media screen and (max-width: 768px) {
	article.mailform{
		padding:8px;
	}
	article.mailform > div{
		padding-top:8px;
	}
	article.mailform header h2{
		margin:0 0 8px 0;
		font-size:1.8em;
	}
}

article.mailform .field{
	position:relative;
	margin:0 0 10px 0;
	width:100%;
}
article.mailform .field label{
	display:block;
	font-size:1.4em;
	padding:0 0 5px 0;
	margin:0;
	line-height:1em;
	text-transform:uppercase;
}
article.mailform .field input[type='text']{
	display:block;
	width:97.5%;
	font-size:1.4em;
	border:1px solid #7f7f7f;
	padding:4px;
}
article.mailform .split{
	display:inline-block;
	width:50%;
	box-sizing: border-box;
	padding-right:2.5%;
}
article.mailform .split input[type='text']{
	width:100%;
}

article.mailform .field p.error,
article.mailform .field label.error{
	position:absolute;
	right:5%;
	top:0px;
	font-size:1.4em;
	line-height:1em;
	color:red;
	display:none;
}
article.mailform .error p.error{
	display:block;
}
article.mailform.individual .lozengeButton{
	color: #109dcb;
    border-color: #109dcb;	
}
article.mailform.business .lozengeButton{
	color: #544595;
    border-color: #544595;
}
article.mailform.business .lozengeButton.caret{background-image:url('img/caret_business.png');}
article.mailform.business .lozengeButton:hover{background-color:rgba(131,114,204,0.5);}
@media screen and (max-width: 768px) {
	article.mailform .split{
		width:100%;
		padding-right:0%;
	}
	article.mailform .field p.error{
		right:0%;
	}
}
