/* speak to an advisor block on nearly all pages [theme]/footer.php */
.speakAdvisor{background-color:#f7f7f7;}
.speakAdvisor h2{font-size:3.2em;padding:50px 0;}
.speakAdvisor h3{font-size:2em;}
.speakAdvisor .p1 p{color:#666666;font-size:1.5em;}
.speakAdvisor .p1 p{color:#666666;}
.speakAdvisor .interior{background-color:#fff;}
.speakAdvisor .interior hr{background-color:#109dcb;}
.speakAdvisor .lozengeButton{color:#109dcb;border-color:#109dcb;}
.individual .speakAdvisor .interior hr{background-color:#109dcb;}
.business .speakAdvisor .interior hr{background-color:#544595;}
.individual .speakAdvisor .lozengeButton{color:#109dcb;border-color:#109dcb;}
.business .speakAdvisor .lozengeButton{color:#544595;border-color:#544595;}
.business .speakAdvisor .lozengeButton.caret{background-image:url('img/caret_business.png');}
.business .speakAdvisor .lozengeButton:hover{background-color:rgba(131,114,204,0.5);}

.individual .speakAdvisor .p1 p,
.business .speakAdvisor .p1 p{margin-bottom:0;}
.individual .speakAdvisor .singleColumn,
.business .speakAdvisor .singleColumn{padding-bottom:0px;}
.individual .speakAdvisor .doubleColumnWrapper,
.business .speakAdvisor .doubleColumnWrapper{padding-top:0px;}
.individual .individualBox,
.business .businessBox{width:100%;}
.individual .individualBox .interior,
.business .businessBox .interior{
	padding-top:0px;
	box-shadow:none;
	background-color:transparent;
}
.individual .individualBox .interior h3,
.business .businessBox .interior h3{
	display:none;
}

.individual .businessBox{display:none;}
.business .individualBox{display:none;}
