/*
Theme Name: squarespace2
Theme URI: -
Author: -
Author URI: -
Description: -
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: -
Text Domain: squarespace2

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/**
 * 1.0 - Reset
 *
 * Resetting and rebuilding styles have been helped along thanks to the fine
 * work of Eric Meyer, Nicolas Gallagher, Jonathan Neal, and Blueprint.
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: #fff;
	color:#000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

fieldset {
	min-width: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
}

a:focus {
	outline: 2px solid #c1c1c1;
	outline: 2px solid rgba(51, 51, 51, 0.3);
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}
.skip-link{height:0;overflow:hidden;display:block;}
br.cb{clear:both;}
.pageHeader header h1{display:none;}
h2,h2{margin:0;}


body{font-family:"Open Sans", sans-serif;font-weight:300;overflow:hidden;text-rendering:optimizeLegibility;}
.centred{text-align:center;}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
 
.shadow{box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);}



#page{
	opacity:1;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
#page.waitForFontsToLoad{opacity:1;}

hr{
	height:2px;
	width:100px;
	border:0;
	padding:0;
	margin:20px auto 40px auto;
}
hr.full{height:1px;width:80%;width:946px;margin:20px auto;background-color:#b7b7b7;}
@media screen and (max-width: 1180px) {
	hr.full{width:80%;}
}
.site{
	width:100%;
}
.module{
	width:100%;
	position:relative;
	left:0px;
	top:0px;
	z-index:4;
	background-color:#fff;
	overflow:hidden;
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}

/* page header */
.pageHeader{
	position:relative;
	width:100%;
	padding:0 5vw;
	box-sizing: border-box;
}
.pageHeader header{
	width:100%;
	padding:3vw 0;
	box-sizing: border-box;
}
@media screen and (max-width: 1140px) {
	.pageHeader header{
	}
}
.pageHeader header.white{}
.pageHeader header .logo{
	width:108px;
	height:auto;
	margin:0;
	float:left;
}
@media screen and (max-width: 768px) {
}
@media screen and (min-width: 1140px) {
}


.menuWrapper{
	display:inline-block;
	float:right;
	
	display:table;
}
.menuMover{display:table-cell;vertical-align:middle;height:64px;}
nav#site-navigation button{display:none;}
nav#site-navigation{} /*365px 267*/ 

@media screen and (min-width: 1140px) {
}

nav#site-navigation ul#menu-primary-menu{width:450px;text-align:right;}
nav#site-navigation ul#menu-primary-menu > li.menu-item{
	display:inline-block;
	width:auto;
}
nav#site-navigation ul#menu-primary-menu > li.menu-item-has-children{
	width:140px;
	position:relative;
	z-index:1;
}
/*
nav#site-navigation ul#menu-primary-menu > li.menu-item-has-childrenXXX:hover,
nav#site-navigation ul#menu-primary-menu > li.menu-item-has-children.open{
	height:120px;
}
*/
@media screen and (max-width: 1024px) {
	nav#site-navigation ul#menu-primary-menu > li.menu-item{
	}
}

nav#site-navigation a{
	font-weight:400;
	color:#000;
	text-decoration:none;
	font-size:1.4em;
	text-transform:uppercase;
	padding:0 8px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;

}

nav#site-navigation .menu-item a:hover,
nav#site-navigation .menu-item-has-children:hover > a{color:#109dcb;}

.pageHeader #hamburgermenu,
.pageHeader .mobilelogo,
.pageHeader .closeMenu,
.pageHeader nav.footerLinks{display:none;}

@media screen and (max-width: 768px) {
	.pageHeader #hamburgermenu{
		position:absolute;
		right:5vw;
		top:28px;
		overflow:hidden;
		padding:0px;
		width:48px;
		height:48px;
		display:block;
		box-sizing: border-box;
	}
	.pageHeader #hamburgermenu svg{
		stroke:#000;
		stroke-width:3px;
		width:100%;
		height:100%;
	}

	.pageHeader .menuMover{
		position:fixed;
		z-index:10000;
		top:0;
		right:-103vw;
		width:100vw;
		height:100vh;
		height:100%;
		padding:0;
		background-color:#000;
		-webkit-transition: right 0.3s ease;
		-moz-transition: right 0.3s ease;
		-ms-transition: right 0.3s ease;
		-o-transition: right 0.3s ease;
		transition: right 0.3s ease;
		display:table;
	}
	.pageHeader.mobileOpen .menuMover{
		right:0vw;
	}

	.pageHeader .closeMenu{
		display:block;
		position:absolute;
		right:5vw;
		top:38px;
		overflow:hidden;
		width:48px;
		height:48px;

	}
	.pageHeader .closeMenu svg{
		stroke:#fff;
		stroke-width:3px;
		width:100%;
		height:100%;
	}
	nav#site-navigation a{padding-left:0;}
	nav#site-navigation ul#menu-primary-menu{
		width:100%;
		text-align:center;
		
	}
	nav#site-navigation .menu-primary-menu-container{
		width:100vw;
		height:100vh;
		display:table-cell;
		vertical-align:middle;
		text-align:center;
	}
	nav#site-navigation ul#menu-primary-menu{
		margin:auto;
	}
	nav#site-navigation ul#menu-primary-menu li{
		box-sizing: border-box;
		
	}
	nav#site-navigation ul#menu-primary-menu > li.menu-item{
		display:block;
		float:none;
		width:100%;

	}
	nav#site-navigation ul#menu-primary-menu > li.menu-item a{
		color:#fff;
		font-family:Abel;font-weight:700;font-style: normal;font-size: 54px;letter-spacing: .03em;line-height: 1.5em;-webkit-font-smoothing: antialiased;		
	}
}

@media screen and (max-width: 768px) {
	nav#site-navigation ul#menu-primary-menu > li.menu-item a{font-size: 32px;}
}
.site-footer{
	padding-top:30px;
	padding-bottom:30px;
	width:100%;
	text-align:center;
}
.site-footer img.logo{
	margin:0 auto;
	width:130px;
}

.site-footer nav.social{width:96px;margin:20px auto 20px auto;}
.site-footer nav.social a{width:48px;height:48px;display:inline-block;float:left;}
.site-footer nav.social a svg{width:48px;height:48px;opacity:1;-webkit-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -moz-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -ms-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -o-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    transition: opacity 1000ms cubic-bezier(.33,0,.2,1)
}
.site-footer nav.social:hover a svg{opacity:0.25;}
.site-footer nav.social:hover a:hover svg{opacity:1;}
.site-footer p{font-weight:300px;font-size:16px;color:#222;padding:17px;line-height:1.8em;letter-spacing:.06em;}
.site-footer p a{text-decoration:none;color:#999;}
.site-footer p a:hover{text-decoration:underline;}
.site-footer p a.msq{font-weight:700;}

.fullWidth{
}
.fullWidth img{
}

.video1{
	position:relative;
}
.video1 .fallback{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-50vw;
	margin-top:-50vh;
	width:100vw;
	height:70vh;
}
.video1 .fallback img{
	width:100%;
}
.video1 .iframe{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-50vw;
	margin-top:-281px;
	width:100vw;
	height:auto;
}

.fullWidth,.single,.double,.triple{
	width:100%;
	overflow:hidden;
	padding:0;
	margin:0 0 24px 0;
	box-sizing: border-box;
}
.single .column,.double .column,.triple .column{
	height:70vh;
	box-sizing: border-box;
	overflow:hidden;
}
.double .inner .column{
	height:auto;
}
.single .column{
	width:100%;
}
.double .column{
	width:50%;
}
.triple .column{
	width:33.3%;
	height:auto;
}
.sizer{
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
	background-color:#000;
}
.sizer img{
	display:block;
	opacity:1;
   	-webkit-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -moz-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -ms-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -o-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    transition: opacity 1000ms cubic-bezier(.33,0,.2,1)
}
a.sizer:hover img{
	opacity:0.5;
}
.site-content{
   	-webkit-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -moz-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -ms-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -o-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    transition: opacity 1000ms cubic-bezier(.33,0,.2,1)
}
.js #page.loading,
.js .loading,
.js .maploading{
	opacity:0;
}
.double .column.left{
	float:left;
	padding-right:12px;
}
.double .column.right{
	float:right;
	padding-left:12px;
}

.double .inner{
	width:auto;
	margin-left:-17px;
	margin-right:-17px;
}
.double .inner .column{
	float:left;
	display:inline-block;
	padding-left:17px;
	padding-right:17px;
}
.double .inner .column a{
	display:block;
	overflow:hidden;
	padding-top:56%;
	position:relative;
	background-color:#000;
}
.double .inner .column img{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:auto;
	display:block;
	/*
	opacity:1;
   	-webkit-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -moz-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -ms-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -o-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    transition: opacity 1000ms cubic-bezier(.33,0,.2,1)
    */
}
.double .inner .column a:hover img{/*opacity:0.5;*/}

.double .inner .column.left{
}
.double .inner .column.middle{
}
.double .inner .column.right{
}

.carimage{
	height:0;
	padding-top:56.25%;
	position:relative;
}
.carimage .column{
	height:auto;
	position:absolute;
	left:0;
	top:0;
}
.car{position:relative;width:100%;overflow:hidden;padding-top:56.25%;display:block;}
.car img{position:absolute;left:0;top:0;width:100%;height:auto;}
div.car{}
div.car img{}
a.car img{
   	-webkit-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -moz-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -ms-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -o-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    opacity:1;
}
a.car{
	display:block;
	background-color:#000;
}
a.car:hover img{
	/* opacity:0.5; */
}

.videobutton{height:auto;padding:0;width:100%;}
.videobutton .column{position:relative;width:100%;height:auto;padding-top:56.25%;}
.videobutton .column .layer{position:absolute;left:0;top:0;width:100%;height:auto;}
.videobutton .column .trigger{z-index:10;
   	-webkit-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -moz-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -ms-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -o-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
}
.videobutton .column .trigger a{display:block;width:100%;height:0;padding-top:56.25%;position:relative;}
.videobutton .column .trigger a .playicon{border-radius:32px;width:64px;height:64px;background-color:rgba(0,0,0,0.5);position:absolute;left:50%;top:50%;margin-left:-32px;margin-top:-32px;}
.videobutton .column .trigger a .playicon img{margin:10px;}
.videobutton .column .image{z-index:5;background-color:#000;
   	-webkit-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -moz-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -ms-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -o-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
}
.videobutton .column .image img{
	width:100%;
	height:auto;
   	-webkit-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -moz-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -ms-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -o-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    opacity:1;
}
.videobutton:hover .column .image img{opacity:0.5;}
.videobutton .column .video{z-index:0;}
.videobutton .column .video div{width:100%;padding-top:56.25%;position:relative;}
.videobutton .column .video iframe{width:100%;height:100%;position:absolute;left:0;top:0;}

.multi{position:relative;padding-top:56.25%;}
.multi .column{
	position:absolute;
	left:0;
	top:0;
	z-index:1;
	opacity:0;
   	-webkit-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -moz-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -ms-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -o-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    height:auto;
}
.multi .column.active{opacity:1;z-index:5;}

.text{
	text-align:center;
	padding:5vh 16.66%;
}
.text .hr{
	width:150px;
	height:1px;
	background-color:#bbb;
	margin:0 auto 80px auto;
}	
.text .hr hr{
	border:0;
}
.text h1{
	color:#000;font-family:Abel;font-weight:700;font-style: normal;font-size: 54px;letter-spacing: .03em;line-height: 1.5em;-webkit-font-smoothing: antialiased;
}
.text h2{
	color:#222;
	font-size:1.6em;
	margin:0 0 24px 0;
	font-weight:700;
    -webkit-font-smoothing: antialiased;
}
.text p{
	color:#000;
	font-size:17px;
	margin:0 0 24px 0;
	line-height:1.61em;
	letter-spacing:.03em;
	font-weight:100;
    -webkit-font-smoothing: antialiased;
}
.text p em{font-style:italic;}
.text p strong{font-weight:700;}
.text p a{color:#999;text-decoration:none;}
.text p a:hover{text-decoration:underline;}

.newslist ul{list-style-type:none;padding:0;width:100%;}
.newslist ul li{width:100%;text-align:center;margin:0 0 24px 0;}
.newslist ul li h2{font-family:Abel;font-weight:700;font-style: normal;font-size: 54px;letter-spacing: .03em;line-height: 1.5em;text-transform: uppercase;text-decoration: none;color: #333;margin:0 5vw 30px 5vw;}
.newslist ul li h2 a{color:#333;text-decoration:none;}
.newslist ul li h2 a:hover{text-decoration:underline;}
.newslist ul li h3{font-weight: 300;font-style: normal;font-size: 16px;letter-spacing: .06em;text-transform: uppercase;color: #bbb;}
.newslist ul li hr{margin:60px auto;width: 30%;min-width: 240px;background-color: #eee;}
    
.newsitem h1{font-family:Abel;font-weight:700;font-style: normal;font-size: 54px;letter-spacing: .03em;line-height: 1.5em;text-transform: uppercase;text-decoration: none;color: #333;margin:0 5vw 30px 5vw;}
.newsitem h2{font-weight: 300;font-style: normal;font-size: 16px;letter-spacing: .06em;text-transform: uppercase;color: #bbb;}
.newsitem p{color:#000;font-size:17px;margin:0 0 24px 0;line-height:1.61em;letter-spacing:.03em;font-weight:100;-webkit-font-smoothing: antialiased;}
.newsitem p a{color:#000;}

.sharebuttons{width:128px;margin:0 auto 30px auto;}
.sharebuttons a{width:64px;height:64px;float:left;display:inline-block;}
.sharebuttons a span{display:none;}
/*
.flexboxContainer{
	width:100%;
}
.flexboxItem{
	display:inline-block;
	float:left;
	box-sizing: border-box;
	flex: 1;
}
@media screen and (max-width: 768px) {
	.flexboxContainer{
		width:100%;
		display: block;
		margin-bottom:0;
	}
	.flexboxItem{
		width:80%;
		float:none;
		display: block;
		margin:0 auto 20px auto;
		padding:25px;
	}
}
*/
.people{
	width:100%;
}
.people .inner{
	width:auto;
	margin-left:-17px;
	margin-right:-17px;
}
.people .flexboxContainer{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.people .person{
	width:25%;
	box-sizing: border-box;
	padding:17px 17px 0 17px;
	display:inline-block;
	float:left;
}
.people .person .portrait{
	padding-top:120%;
	position:relative;
	overflow:hidden;
}
.people .person .portrait img{
	position:absolute;
	left:0%;
	top:0%;
	width:100%;
}
.people .person .tb{
	box-sizing: border-box;
	padding:17px 0;
}
.people .person .tb h2{
	font-size:1.8em;
	margin:0 0 24px 0;
	color:#222;
	font-weight:bold;
}
.people .person .tb h3{
	margin:0 0 24px 0;
	color:#222;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: .06em;
}
.people .person .tb h2,
.people .person .tb h3{
	text-transform:uppercase;
}
.people .person .tb p{
	margin:0 0 24px 0;
	color:#222;
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: .06em;
}
.people .person .tb p em{
	font-style:italic;
}
.people .person .tb a{
	color:#999;
	text-decoration:none;
}
.people .person .tb a:hover{
	text-decoration:underline;
}
.people .person .tb a.social{
	font-family: monospace,serif;
	font-size:16px;
}

@media screen and (max-width: 1024px) {
	.people .person{
		width:33.3%;
	}
}
@media screen and (max-width: 768px) {
	.people .person{
		width:50%;
	}
}
@media screen and (max-width: 480px) {
	.people .person{
		width:100%;
	}
}

.logogrid{padding-top:78px;padding-bottom:78px;}
.logogrid h2{color:#222;font-size:1.6em;margin:0 0 24px 0;font-weight:700;-webkit-font-smoothing: antialiased;text-align:center;}
.logogrid ul{
	width:75%;
	list-style-type:none;
	padding:0;
	margin:0 auto;
	/*
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-js-display: flex;
	flex-wrap:wrap;
	*/
}
.logogrid ul li{display:inline-block;float:left;width:16.66%;box-sizing: border-box;padding-left:10px;padding-right:10px;padding-bottom:10px;}
.logogrid ul li img{width:100%;height:auto;margin:0 auto;display:block;}
@media screen and (max-width: 1024px) {
	.logogrid ul li{width:25%;}
}
@media screen and (max-width: 640px) {
	.logogrid ul li{width:33.33%;}
}
@media screen and (max-width: 480px) {
	.logogrid ul li{width:50%;}
}

@media screen and (max-width: 1920px) and (min-aspect-ratio: 1/1) {
	.text h2 {font-size:.9895833333333334vw;}
	.text p {font-size:1.5625vw;}
}
@media screen and (max-width: 1213px) and (min-aspect-ratio: 1/1) {
	.text h2 {font-size:12px;}
	.text p {font-size:1.5625vw;}
}
@media screen and (max-width: 1088px) and (min-aspect-ratio: 1/1) {
	.text h2 {font-size:12px;}
	.text p {font-size:17px;}
}

@media screen and (max-width: 768px) {
	.text{
		text-align:center;
		padding:5vh 5%;
	}
	.text .hr{
		width:100%;
	}
	.double{
		height:auto;
		margin-bottom:0;
	}
	.double .column.left,
	.double .column.right{
		float:none;
		clear:both;
		width:100%;
		padding-right:0;
		padding-left:0;
		margin-bottom:24px;
	}
}

/*
.site-footer p{}
.site-footer p a{text-decoration:none;color:#999;}
.site-footer p a:hover{text-decoration:underline;}
.site-footer p a.msq{font-weight:700;}
*/
.nextlink{padding:8vh 0;}
.nextlink p{font-weight:600;font-size:16px;color:#000;padding:17px;line-height:1.8em;letter-spacing:.06em;margin:0;}
.nextlink p a{text-decoration:none;color:#000;}
.nextlink p a:hover{text-decoration:underline;}

.contacts{padding-left:5vw;padding-right:5vw;}
.contacts .column{text-align:center;height:auto;}
.contacts .column .tb{width:100%;box-sizing: border-box;padding:17px;}
.contacts .column h2,
.stackaddress .column h2{
	color:#222;
font-family:Abel;font-weight:700;font-style: normal;font-size: 5.2vw;letter-spacing:0em;line-height: 1.5em;text-transform: uppercase;text-decoration: none;color: #333;margin:60px 0;}
.contacts .column h3,
.contacts .column h4,
.contacts .column a,
.stackaddress .column h3,
.stackaddress .column address{
	font-style: normal;
	font-size:1.2vw;
	letter-spacing: .06em;
	line-height: 1.5em;
	font-weight:300;
	color:#222;
	margin:0 0 24px 0;
}
.contacts .column h3,
.contacts .column h4,
.stackaddress .column h3,
.stackaddress .column address{font-weight:700;line-height:2em;}
.stackaddress .column address{font-weight:300;line-height:2em;color:#000;font-size:1.5625vw;}
.contacts .column h3{margin:0;}
.contacts .column h4{margin:0 0 40px 0;}

.contacts .column a{text-decoration:none;color:#999;font-size:1.5625vw;}
.contacts .column a:hover{text-decoration:underline;color:#999;}

.stackaddress .column{height:auto;text-align:center;}
.stackaddress .column div.hr{margin:0;width:100%;padding:60px 5vw;box-sizing: border-box;}
.stackaddress .column div.hr hr{margin:0;padding:0;border:0;width:100%;background-color:#808080;height:1px;}
.stackaddress .column{}

.map{padding-left:5vw;padding-right:5vw;}
.map .column{height:auto;}
.map #mapbox{width:100%;height:70vh;background-color:#7f7f7f;position:relative;display:block;}

@media screen and (max-width: 768px) {
	.map #mapbox{height:50vh;}
}

@media screen and (max-width: 480px) {
	.map #mapbox{height:35vh;}
}

@media screen and (max-width: 1200px) {
	.contacts .column h3,
	.contacts .column h4,
	.stackaddress .column h3{font-size:16px;}
	.contacts .column a,
	.stackaddress .column address{font-size:1.5vw;}
}
@media screen and (max-width: 768px) {
	.contacts .column h2,
	.stackaddress .column h2{font-size:10vw;}
	.contacts .column h3,
	.contacts .column h4,
	.stackaddress .column h3{font-size:16px;}
	.contacts .column a,
	.stackaddress .column address{font-size:16px;}
}

.limited{max-width:1100px;}
.culture,
.aboutus,
.ourpeople{padding-left:5vw;padding-right:5vw;box-sizing: border-box;margin-left:auto;margin-right:auto;}
.aboutus{padding-left:0;padding-right:0;}

.gatevideo{height:auto;}
.gatevideo .column{position:relative;width:100%;height:70vh;display:block;overflow:hidden;}
.gatevideo a,
.gatevideo div.sizer,
.gatevideo div.iframeSizer{position:absolute;left:0;top:0;width:100%;height:70vh;}

.gatevideo a{z-index:10;}
.gatevideo div.sizer{z-index:1;}
.gatevideo div.iframeSizer{
	z-index:5;
   	-webkit-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -moz-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -ms-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    -o-transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
    transition: opacity 1000ms cubic-bezier(.33,0,.2,1);
}
.gatevideo div.iframeSizer.loading{opacity:0;}

.page404{}
.page404 .text{margin:0 5vw 30px 5vw;}
.page404 .text h1{font-family:Abel;font-weight:700;font-style: normal;font-size: 54px;letter-spacing: .03em;line-height: 1.5em;text-transform: uppercase;text-decoration: none;color: #333;}
.page404 .text p{}

.work .text{padding-top:10vh;padding-bottom:10vh;}
.work .text.intro h1{font-size: 5.208333333333334vw;}
.work .text.nextlink{padding-top:1%;padding-bottom:1%;}

@media screen and (max-width: 480px) {
	.work .text.intro h1{font-size:25px;}
}