/**
 * Admin panel stylesheet
 */

.column-thumb
{
    width: 90px;
}

.column-trip_code
{
    width: 60px;
}

td.column-trip_code
{
    font-weight: bold;
}

.mceIframeContainer
{
    background: #FFF;
}

.date_from, .date_to
{
    background: url('../images/admin/datepicker.png') right center no-repeat;
    cursor: pointer;
}

body #header-logo
{
    background: url('../images/admin/logo.png') left top no-repeat;
    width: 274px;
    height: 66px;
}

#site-title
{
    text-indent: -9999px;
    display:block;
}

.checkbox_label
{
    display: block;
    margin-top: 5px;
}

.office-box
{
    margin-bottom: 5px;
}
.office-box span,
.office-address span
{
    color: #999;
}
.office-box input
{
    width: 100%;
}
.office-address textarea
{
    width: 100%;
}

.site_details
{
    min-width: 290px;
    width: 22.5%;
    float: left;
    margin: 1% 1%;
}

.site_image_preview
{
    width: 100%;
}

.the-gate-gallery-thumbs li {
    margin: 4px;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    background: #eee;
    padding: 5px;
    border: 1px solid #DFDFDF;
    width: 109px;
    height: 109px;
}
.the-gate-gallery-thumbs li img {
    cursor: move;
    width: 109px;
    height: 109px;
    padding: 0;
    margin: 0;
}
.the-gate-gallery-thumbs li .the-gate-gallery-remove {
    display: block;
    text-indent: -9999px;
    outline: 0;
    background: url(../images/admin/delete_thumb.png) no-repeat 0 0;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -4px;
    right: -4px;
}
.wpsimplegallery_placeholder {
    border: 1px dashed #ccc !important
}
.ui-sortable-helper {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.the-gate-gallery-container .clearfix:before,
.the-gate-gallery-container .clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.the-gate-gallery-container .clearfix:after {
    clear: both
}
.the-gate-gallery-container .clearfix {
    zoom: 1
}

.office-box {
    padding: 10px;
}

.title {
    background-color: #FFFFFF;
    font-size: 1.7em;
    line-height: 100%;
    outline: 0 none;
    padding: 3px 8px;
    width: 100%;
}