@charset "UTF-8";
/* CSS Document */

.ie8message { 
     width:100%;
	 text-align:left;
	 position: fixed;
     z-index: 10;
}

#ie8mscopy {
	 width:700px;
	 height:128px;
	 background-color:#094066;
	 margin:5px auto 25px;
	 position:relative;
	 font-family: Arial, Helvetica, sans-serif;
	 font-size:20px;
	 color:#ffffff;	 
}

#ie8closebutton {
	position:absolute;
	top:5px;
	right:5px;
	}

#ie8mscopybox {
	margin-left:20px;
	margin-top:8px;
	position: absolute;
}

#ie8mscopybox p {line-height:125%;}

a.ie8updatedlink:link { color: whithe; text-decoration:none; }
a.ie8updatedlink:visited { color: white; }
a.ie8updatedlink:hover { color: white; text-decoration:underline; }

