@font-face {
    font-family: 'texgyreherosregular';
    src: url('texgyreheros-regular-webfont.eot');
    src: url('texgyreheros-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreheros-regular-webfont.woff') format('woff'),
         url('texgyreheros-regular-webfont.ttf') format('truetype'),
         url('texgyreheros-regular-webfont.svg#texgyreherosregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'texgyreherositalic';
    src: url('texgyreheros-italic-webfont.eot');
    src: url('texgyreheros-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreheros-italic-webfont.woff') format('woff'),
         url('texgyreheros-italic-webfont.ttf') format('truetype'),
         url('texgyreheros-italic-webfont.svg#texgyreherositalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'texgyreherosbold_italic';
    src: url('texgyreheros-bolditalic-webfont.eot');
    src: url('texgyreheros-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreheros-bolditalic-webfont.woff') format('woff'),
         url('texgyreheros-bolditalic-webfont.ttf') format('truetype'),
         url('texgyreheros-bolditalic-webfont.svg#texgyreherosbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'texgyreherosbold';
    src: url('texgyreheros-bold-webfont.eot');
    src: url('texgyreheros-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreheros-bold-webfont.woff') format('woff'),
         url('texgyreheros-bold-webfont.ttf') format('truetype'),
         url('texgyreheros-bold-webfont.svg#texgyreherosbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

